
body {
  font-family: var(--agnostic-font-family);
  /**
   * Line height here is overriden on most tags--this is a "fallback". If in body inherited
   * tag, font-size will be 16 and thus line-height: will be 24 (still on our 8pt grid) but
   * we have to be careful.
   */
  line-height: 1.6;
  font-size: var(--agnostic-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-block-end: 40px;
}
/* We need all line-height "boxes" to fall on our 8pt based grid */
h1 {
  font-size: var(--agnostic-h1);
  line-height: calc(var(--agnostic-h1) * 1.25); /* 80/64 */
}
h2 {
  font-size: var(--agnostic-h2);
  line-height: calc(var(--agnostic-h2) * 1.25); /* 60/48 */
}
h3 {
  font-size: var(--agnostic-h3);
  line-height: calc(var(--agnostic-h3) * 1.25); /* 45/36 */
}
h4 {
  font-size: var(--agnostic-h4);
  line-height: calc(var(--agnostic-h4) * 1.25); /* 30/24 */
}
h5 {
  font-size: var(--agnostic-h5);
  line-height: var(--agnostic-h4); /* 18 * 1.5 does not land on grid so we settle for 24 */
}
h6 {
  font-size: var(--agnostic-h6);
  line-height: calc(var(--agnostic-h6) * 1.25); /* 15/12 */
}

/* For inline code blocks I use <i> */
i {
  background-color: var(--agnostic-gray-extra-light);
  border: 1px solid var(--agnostic-gray-mid);
  border-radius: 3px;
  display: inline;
  font-family: var(--agnostic-font-family-mono);
  font-size: 1rem;
  font-style: normal;
  color: var(--agnostic-dark);
  margin: 0 3px 0 1px;
  padding: 1px 5px 2px 5px;
  position: relative;
  top: -1px;
}

.quoted::before {
  /* Many sans fonts do not have smart or book quotes so prefer ones that do */
  font-family: Georgia, 'Times New Roman', Times, serif;
  content: open-quote;
}

.quoted::after {
  /* Many sans fonts do not have smart or book quotes so prefer ones that do */
  font-family: Georgia, 'Times New Roman', Times, serif;
  content: close-quote;
}

.quoted {
  /* Kind of cludgy, but this will preserve your main font within the smart quotes */
  font-family: inherit;
  quotes: '“' '”' '‘' '’';
}

fieldset,
p {
  font-size: var(--agnostic-h5);
  margin-block-start: 1rem;
}

fieldset,
div,
section {
  margin-block-start: 1rem;
}

form {
  font-size: 1rem; /* start @ 16px so line-height is 24px and stays on our 8pt grid */
  width: 100%;
  max-width: 100%;
}

.row {
  flex-direction: row;
  align-items: center;
}

.label:not(.label-inline) {
  margin-block-start: var(--fluid-16);
}

.demo-icon-cross,
.demo-icon-check {
  width: 14px;
  height: 14px;
}

.demo-icon-cross {
  fill: tomato;
}

.demo-icon-check {
  fill: lightseagreen;
}

.progress {
  margin-block-end: 24px;
}

:root {
  --agnostic-progress-fill-color: #077acb;
  --agnostic-progress-background: #ededed;
}
