/**
 * Font size tokens
 * These are perhaps a bit arbitrary but were chosen from both the
 * default point sizes for type in OS X, and the classic typographic
 * scale as provided by The Elements of Typographic Style which are:
 * 9, 10, 11, 12, 13, 14, 18, 24, 36, 48, (alt. 60) 64, 72, 96, 144, 288
 * 
 * You're encouraged to change these setttings to whatever suits your app's needs
 * best—these are just sensible defaults to get you started.
 */

:root {
  --agnostic-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Ubuntu',
    'Fira Sans', Helvetica, 'Droid Sans', 'Helvetica Neue', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --agnostic-font-family-serif: Georgia, Cambria, 'Times New Roman', Times, serif;
  --agnostic-font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --agnostic-h1: 64px;
  --agnostic-h2: 48px;
  --agnostic-h3: 36px;
  --agnostic-h4: 24px;
  --agnostic-h5: 18px;
  --agnostic-h6: 12px;
  --agnostic-body: 16px;
  --agnostic-font-weight-bold: 600;
  --agnostic-font-weight-light: 300;
  --agnostic-font-color: #333333;
}
