.checkbox-group {
  composes: checkbox-group from './choice-input.css';
}
.radio-group {
  composes: radio-group from './choice-input.css';
}
.checkbox-group-large {
  composes: checkbox-group-large from './choice-input.css';
}
.radio-group-large {
  composes: radio-group-large from './choice-input.css';
}
.checkbox-legend {
  composes: checkbox-legend from './choice-input.css';
}
.radio-legend {
  composes: radio-legend from './choice-input.css';
}
.radio {
  composes: radio from './choice-input.css';
}
.checkbox {
  composes: checkbox from './choice-input.css';
}
.checkbox-small {
  composes: checkbox-small from './choice-input.css';
}
.radio-small {
  composes: radio-small from './choice-input.css';
}
.checkbox-large {
  composes: checkbox-large from './choice-input.css';
}
.radio-large {
  composes: radio-large from './choice-input.css';
}
.checkbox-label-wrap {
  composes: checkbox-label-wrap from './choice-input.css';
}
.radio-label-wrap {
  composes: radio-label-wrap from './choice-input.css';
}
.checkbox-label-wrap-inline {
  composes: checkbox-label-wrap-inline from './choice-input.css';
}
.radio-label-wrap-inline {
  composes: radio-label-wrap-inline from './choice-input.css';
}
.checkbox-label {
  composes: checkbox-label from './choice-input.css';
}
.radio-label {
  composes: radio-label from './choice-input.css';
}
.checkbox-label-small {
  composes: checkbox-label-small from './choice-input.css';
}
.radio-label-small {
  composes: radio-label-small from './choice-input.css';
}
.checkbox-label-large {
  composes: checkbox-label-large from './choice-input.css';
}
.radio-label-large {
  composes: radio-label-large from './choice-input.css';
}
.checkbox-group-hidden {
  composes: checkbox-group-hidden from './choice-input.css';
}
.radio-group-hidden {
  composes: radio-group-hidden from './choice-input.css';
}
