<h4>Pagination example</h4>
<p class="mbs48 mbe16">Start justify by adding the <i>pagination-start</i> class (or
omitting because flexbox will default to <i>flex-start</i> anyway).</p>
<nav aria-label="pagination">
  <ul class="pagination">
    <li class="pagination-item pagination-item-disabled">
      <a class="pagination-link"
         href="#someurl"
         aria-disabled="true"
         tabindex="-1">Previous</a>
    </li>
    <li class="pagination-item pagination-item-active">
      <a class="pagination-link"
         href="#someurl"
         aria-current="page"><span class="screenreader-only">page </span>1</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link"
         href="#someurl"><span class="screenreader-only">page </span>2</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link"
         href="#someurl"><span class="screenreader-only">page </span>3</a>
    </li>
    <li class="pagination-item">
      <span>...</span>
    </li>
    <li class="pagination-item">
      <a class="pagination-link"
         href="#someurl"><span class="screenreader-only">page </span>99</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link"
         href="#someurl">Next</a>
    </li>
  </ul>
</nav>

<p class="mbs48 mbe16">Center justify by adding the <i>pagination-center</i> class</hp>
<nav aria-label="pagination">
  <ul class="pagination pagination-center">
    <li class="pagination-item pagination-item-disabled">
      <a class="pagination-link"
         href="#someurl"
         aria-disabled="true"
         tabindex="-1">Previous</a>
    </li>
    <li class="pagination-item pagination-item-active">
      <a class="pagination-link"
         href="#someurl"
         aria-current="page"><span class="screenreader-only">page </span>1</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link"
         href="#someurl"><span class="screenreader-only">page </span>2</a>
    </li>
    <li class="pagination-item">
      <span>...</span>
    </li>
    <li class="pagination-item">
      <a class="pagination-link"
         href="#someurl"><span class="screenreader-only">page </span>99</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link"
         href="#someurl">Next</a>
    </li>
  </ul>
</nav>

<p class="mbs48 mbe16">End justify by adding the <i>pagination-end</i> class</hp>
<nav aria-label="pagination">
  <ul class="pagination pagination-end">
    <li class="pagination-item pagination-item-disabled">
      <a class="pagination-link"
         href="#someurl"
         aria-disabled="true"
         tabindex="-1">Previous</a>
    </li>
    <li class="pagination-item pagination-item-active">
      <a class="pagination-link"
         href="#someurl"
         aria-current="page"><span class="screenreader-only">page </span>1</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link"
         href="#someurl"><span class="screenreader-only">page </span>2</a>
    </li>
    <li class="pagination-item">
      <span>...</span>
    </li>
    <li class="pagination-item">
      <a class="pagination-link"
         href="#someurl"><span class="screenreader-only">page </span>99</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link"
         href="#someurl">Next</a>
    </li>
  </ul>
</nav>
