* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
}

body {
  padding-block-start: 2rem;
  padding-block-end: 2rem;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  background: var(--agnostic-light);
  color: var(--agnostic-dark);
}


main {
  width: clamp(26ch, 75%, 90ch);
}

h2 {
  font-size: clamp(var(--agnostic-h5), 3vw, var(--agnostic-h2));
}

.card-demo {
  max-width: 35rem !important;
  margin: 0 auto;
  margin-block-start: var(--fluid-40);
  padding-block-start: var(--fluid-16);
  padding-block-end: var(--fluid-40);
}

.valueprop {
  font-size: clamp(var(--agnostic-h6), 2vw, var(--agnostic-h4));
}
.valueprop a {
  font-size: clamp(var(--agnostic-h5), 2.5vw, var(--agnostic-h3));
}

.frameworks {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--fluid-16);
}

/* TODO -- we'll need to revisit this once AgnosticUI properly supports dark mode. Breadcrumb links
aren't accessible in terms of contrast in dark mode at the moment. */
/* @media (prefers-color-scheme: dark) {
  body {
    background: #0c2c43;
    color: #f9fafb;
	}
} */
