.menu {
  display: inline-block;
  position: relative;
}

.menu-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  background-color: var(--agnostic-btn-bgcolor, var(--agnostic-gray-light));
}

.menu-trigger,
.menu-item {
  text-align: left;

  /* TODO -- can we compose some of this from the button styles? */
  border-color: var(--agnostic-btn-bgcolor, var(--agnostic-gray-light));
  border-style: solid;
  border-width: var(--agnostic-btn-border-size, 1px);
  font-size: inherit;

  /* this can be overriden, but it might mess with the balance of the button heights across variants */
  line-height: var(--agnostic-line-height, var(--fluid-20, 1.25rem));
  padding-block-start: var(--agnostic-vertical-pad, 0.5rem);
  padding-block-end: var(--agnostic-vertical-pad, 0.5rem);
  padding-inline-start: var(--agnostic-side-padding, 0.75rem);
  padding-inline-end: var(--agnostic-side-padding, 0.75rem);
}

.menu-items {
  position: absolute;
  left: 0;
  margin-block-start: var(--fluid-6);
}

.menu-item {
  background-color: transparent;
  display: block;
  min-width: 100%;
  white-space: nowrap;
}

.menu-item:not(:first-of-type) {
  /* border-top-width: var(--agnostic-btn-border-size, 1px); */
  border-top: 0;
}

.menu-item:hover {
  background-color: var(--agnostic-gray-extra-light);
}

/* TODO make this more flexible eventually */
.menu-icon {
  font-family: sans-serif;
  font-size: var(--fluid-18);
  margin-inline-start: var(--fluid-8);
  line-height: 1;
}

.menu-item [aria-checked="true"]::before {
  /* TODO make this more flexible eventually */
  content: "\2713\0020";
}

.menu-bordered .menu-trigger {
  background-color: transparent;
}

.menu-rounded .menu-items,
.menu-rounded .menu-trigger {
  border-radius: var(--agnostic-radius);
}

.menu-rounded .menu-item:first-of-type {
  border-top-left-radius: var(--agnostic-radius);
  border-top-right-radius: var(--agnostic-radius);
}

.menu-rounded .menu-item:last-of-type {
  border-bottom-left-radius: var(--agnostic-radius);
  border-bottom-right-radius: var(--agnostic-radius);
}
