<p class="mbe24">Static examples. Default. Default rounded. Bordered. Bordered rounded.</p>
<div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 1rem;">
  <div class="menu">
    <button class="menu-trigger" aria-haspopup="true" aria-expanded="true">
      Players
      <span class="menu-icon" aria-hidden="true">▾</span>
    </button>
    <div class="menu-items" id="difficulty" data-inclusive-menu-from="left" role="menu">
      <button class="menu-item" role="menuitem" tabindex="-1">Andre Agassi</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Serena Williams</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Rafael Nadal</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Roger Federer</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Althea Gibson</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Bjorn Borg</button>
    </div>
  </div>
  <div class="menu menu-rounded">
    <button class="menu-trigger" aria-haspopup="true" aria-expanded="true">
      Players
      <span class="menu-icon" aria-hidden="true">▾</span>
    </button>
    <div class="menu-items" id="difficulty" data-inclusive-menu-from="left" role="menu">
      <button class="menu-item" role="menuitem" tabindex="-1">Andre Agassi</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Serena Williams</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Rafael Nadal</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Roger Federer</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Althea Gibson</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Bjorn Borg</button>
    </div>
  </div>
  <div class="menu menu-bordered">
    <button class="menu-trigger" aria-haspopup="true" aria-expanded="true">
      Players
      <span class="menu-icon" aria-hidden="true">▾</span>
    </button>
    <div class="menu-items" id="difficulty" data-inclusive-menu-from="left" role="menu">
      <button class="menu-item" role="menuitem" tabindex="-1">Andre Agassi</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Serena Williams</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Rafael Nadal</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Roger Federer</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Althea Gibson</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Bjorn Borg</button>
    </div>
  </div>
  <div class="menu menu-rounded menu-bordered">
    <button class="menu-trigger" aria-haspopup="true" aria-expanded="true">
      Players
      <span class="menu-icon" aria-hidden="true">▾</span>
    </button>
    <div class="menu-items" id="difficulty" data-inclusive-menu-from="left" role="menu">
      <button class="menu-item" role="menuitem" tabindex="-1">Andre Agassi</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Serena Williams</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Rafael Nadal</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Roger Federer</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Althea Gibson</button>
      <button class="menu-item" role="menuitem" tabindex="-1">Bjorn Borg</button>
    </div>
  </div>
</div>

