<div style="margin: 0 auto; width: 10rem;">
  <div style="margin-block-end: 15rem;" class="flex flex-column">
    <div class="menu">
      <button class="btn-base btn-blank btn-kebab" aria-haspopup="true" aria-expanded="true">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </button>
      <div class="menu-items" id="players1" data-inclusive-menu-from="left" role="menu">
        <button class="menu-item" role="menuitem" tabindex="-1">Hide console draw</button>
        <button class="menu-item menu-item-selected" role="menuitem" tabindex="-1">Run command</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Open file</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Tools</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Other things</button>
      </div>
    </div>
  </div>
  <div style="margin-block-end: 15rem;" class="flex justify-end">
    <div class="menu">
      <button class="btn-base btn-blank btn-kebab" aria-haspopup="true" aria-expanded="true">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </button>
      <div class="menu-items-right" id="players1" data-inclusive-menu-from="left" role="menu">
        <button class="menu-item" role="menuitem" tabindex="-1">Hide console draw</button>
        <button class="menu-item menu-item-selected" role="menuitem" tabindex="-1">Run command</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Open file</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Tools</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Other things</button>
      </div>
    </div>
  </div>
  <div style="margin-block-end: 15rem;" class="flex flex-column">
    <div class="menu">
      <button class="btn-base btn-blank btn-meatball" aria-haspopup="true" aria-expanded="true">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </button>
      <div class="menu-items" id="players1" data-inclusive-menu-from="left" role="menu">
        <button class="menu-item" role="menuitem" tabindex="-1">Star</button>
        <button class="menu-item menu-item-selected" role="menuitem" tabindex="-1">Add to folder</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Archive</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Delete</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Print</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Export</button>
      </div>
    </div>
  </div>
  <div style="margin-block-end: 15rem;" class="flex justify-end">
    <div class="menu">
      <button class="btn-base btn-blank btn-meatball" aria-haspopup="true" aria-expanded="true">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </button>
      <div class="menu-items-right" id="players1" data-inclusive-menu-from="left" role="menu">
        <button class="menu-item" role="menuitem" tabindex="-1">Star</button>
        <button class="menu-item menu-item-selected" role="menuitem" tabindex="-1">Add to folder</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Archive</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Delete</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Print</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Export</button>
      </div>
    </div>
  </div>
  <div style="margin-block-end: 15rem;" class="flex justify-start">
    <div class="menu">
      <button class="btn-base btn-blank btn-hamburger" aria-haspopup="true" aria-expanded="true">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      <div class="menu-items" id="players1" data-inclusive-menu-from="left" role="menu">
        <button class="menu-item" role="menuitem" tabindex="-1">Reply</button>
        <button class="menu-item menu-item-selected" role="menuitem" tabindex="-1">Forward</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Filter</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Delete the message</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Mark as unread</button>
      </div>
    </div>
  </div>
  <div style="margin-block-end: 15rem;" class="flex justify-end">
    <div class="menu">
      <button class="btn-base btn-blank btn-hamburger" aria-haspopup="true" aria-expanded="true">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      <div class="menu-items-right" id="players1" data-inclusive-menu-from="left" role="menu">
        <button class="menu-item" role="menuitem" tabindex="-1">Reply</button>
        <button class="menu-item menu-item-selected" role="menuitem" tabindex="-1">Forward</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Filter</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Delete the message</button>
        <button class="menu-item" role="menuitem" tabindex="-1">Mark as unread</button>
      </div>
    </div>
  </div>
</div>
  
