.menu {
  display: inline-flex;
  position: relative;
}

:is(.menu-items, .menu-items-right) {
  position: absolute;
  margin-block-start: var(--fluid-6);
  background-color: white;
  z-index: 10;
}

.menu-items {
  right: initial;
  left: 0;
}

.menu-items-right {
  left: initial;
  right: 0;
}
