<section class="mbe40">
  <div class="btn-group" role="group" aria-label="Button group example">
    <button class="btn btn-grouped btn-primary btn-bordered">
      Svelte
    </button>
    <button class="btn btn-grouped btn-primary btn-bordered">
      React
    </button>
    <button class="btn btn-grouped btn-primary btn-bordered">
      Vue
    </button>
    <button class="btn btn-grouped btn-primary btn-bordered">
      Solid
    </button>
    <button class="btn btn-grouped btn-primary btn-bordered">
      Preact
    </button>
    <button class="btn btn-grouped btn-primary btn-bordered">
      Alpine
    </button>
    <button class="btn btn-grouped btn-primary btn-bordered">
      Angular
    </button>
    <button class="btn btn-grouped btn-primary btn-bordered">
      Lit
    </button>
  </div>
</section>
