<section class="mbe40">
  <h3>Capsule</h3>
  <div class="row">
    <button class="btn btn-capsule btn-small mie16">Button capsule small</button>
    <button class="btn btn-capsule mie16">Button capsule</button>
    <button class="btn btn-capsule btn-primary mie16">Button capsule primary</button>
    <button class="btn btn-capsule btn-secondary mie16">Button capsule secondary</button>
    <button class="btn btn-capsule btn-large mie16">Button capsule large</button>
    <button class="btn btn-capsule btn-block mie16">Button block capsule</button>
  </div>
</section>
