body {
  position: relative;
  min-width: 600px;
  max-width: 1000px;
  margin: 100px auto;
  padding-block-start: 5rem;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #333;
}

a {
  color: rgb(0,100,200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0,80,160);
}

label {
  display: block;
}

input,
button:not([role='menuitem']):not(.close-button):not(.dialog-close-button):not(.btn-blank),
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}


/**
* Header Examples
*/
.header-flex-fill {
  flex-grow: 0;
}
.header-flex-fill {
  margin-inline-start: 0;
}

.header-mbe16 {
  margin-inline-end: 0;
}

@media (min-width: 720px) {
  main.home .home-hero + .home-features .features .feature:nth-last-child(-n+2) {
    display: block;
  }
}
@media (min-width: 970px) {

  .header-flex-fill {
    flex-grow: 1;
    margin-inline-start: var(--fluid-16)
  }
  
  .header-mbe16 {
    margin-inline-end: var(--fluid-16);
  }
}
.container {
  margin: 2rem 5rem;
  font-family: var(--agnostic-font-family-body);
  font-size: var(--agnostic-body);
  color: var(--agnostic-font-color);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

.custom-wrap {
  padding: 16px 32px;
}
.custom-card {
  border: 1px solid #d6d6d6;
  margin: 36px auto;
  padding: 24px;
  transition: 0.5s transform;
  transform: scale(1);
}
.custom-card:hover {
  transform: scale(1.1);
  box-shadow: 4px 8px 4px #cdcdcd;
}
