/** Base Styles */

:root {
  /* Button */
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--ag-primary);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--ag-primary-dark);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--ag-primary) 30%,
    var(--ag-blue-200)
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--ag-primary) 50%,
    var(--ag-blue-200) 50%
  );
  --vp-home-hero-image-filter: blur(44px);

  /* Brand Overrides */
  --vp-c-brand-1:  var(--ag-primary);
  --vp-c-brand-2: var(--ag-primary);
  --vp-c-brand-3: var(--ag-primary);
}

/* Logo */
.title span {
  color: var(--ag-primary);
}
