<a href="http://yahoo.com">Link</a>
<form>
  <label class="switch-container disabled"
         for="switchr1">
    <input class="switch-input"
           type="checkbox"
           id="switchr1"
           role="switch"
           aria-checked="false"
           disabled
           data-agnostic-switch />
    <span class="switch switch-small"
          aria-hidden="true"></span>
    <span class="switch-label">Switch disabled</span>
  </label>

  <label class="switch-container switch-right disabled"
         for="switchr2">
    <input class="switch-input"
           type="checkbox"
           id="switchr2"
           role="switch"
           aria-checked="false"
           disabled
           data-agnostic-switch />
    <span class="switch"
          aria-hidden="true"></span>
    <span class="switch-label">Switch right disabled</span>
  </label>
</form>
<a href="http://yahoo.com">Link</a>
</main>
<script src="/js/switch.js"></script>
