---
import Buttons from '../partials/Buttons.astro';
let title = 'Astro/XElement/AgnosticUI combined to take over the world!';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

</head>
<body>
	<main>
    <Buttons />
	</main>
</body>
</html>
