<!DOCTYPE html>
<html>

<head>
  <title>Button</title>
  <link rel="stylesheet" href="./button.css">
  <style>
    /* these styles are purely demonstration related styles only */
    body {
      width: 200px;
      margin: 40px auto;
    }

    h3 {
      font-weight: 300;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
    }
  </style>
</head>

<body>
  <div>
    <h1>Buttons</h1>
  </div>
  <div>
    <h3>Natural</h3>
    <button class="btn">Go</button>
  </div>
  <div>
    <h3>Natural Rounded</h3>
    <button class="btn btn-rounded">Go</button>
  </div>
  <div>
    <h3>Primary</h3>
    <button class="btn btn-primary">Go</button>
  </div>
  <div>
    <h3>Primary Rounded</h3>
    <button class="btn btn-primary btn-rounded">Go</button>
  </div>
</body>

</html>