.card {
  composes: card from './card.css';
}

.cardAnimated {
  composes: card-animated from './card.css';
}

.cardStacked {
  composes: card-stacked from './card.css';
}

.cardBase {
  composes: card-base from './card.css';
}
