.header-nav {
  --agnosticui-default-header-color: #333333;
  --agnosticui-default-header-nav-spacing: 32px;
}

/* Goes on the <ul> */
.header-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 960px) {
  .header-nav {
    flex-direction: row;
  }
}
