/**
 * Switch
 * 
 * This switch is inspired by Scott Ohara's checkbox switch:
 * https://scottaohara.github.io/a11y_styled_form_controls/src/checkbox--switch/
 */
.switch-container {
  composes: switch-container from './switch.css';
}

.switch {
  composes: switch from './switch.css';
}
.switch-label {
  composes: switch-label from './switch.css';
}

.switch-small {
  composes: switch-small from './switch.css';
}

.switch-large {
  composes: switch-large from './switch.css';
}

.switch-border {
  composes: switch-border from './switch.css';
}

.switch-action {
  composes: switch-action from './switch.css';
}

.switch-input {
  composes: switch-input from './switch.css';
}

.switch-right {
  composes: switch-right from './switch.css';
}
