---
import 'agnostic-css/src/components/disclose/disclose.css';

import XElement from 'astro-xelement'
import { pluckClassesFromAttrs } from '../../shared/pluckClassesFromAttrs';

export interface Props {
  title: string;
  isBackground?: boolean;
  isBordered?: boolean;
}

const {title, isBackground, isBordered, ...attrs} = Astro.props as Props;

const { details : AgDisclose, summary : AgSummary } = XElement;
const { additionalClassList } = pluckClassesFromAttrs(attrs);
---
<AgDisclose
  class:list={[
    'disclose',
    {
      'disclose-bg': isBackground ? true : false,
      'disclose-bordered': isBordered ? true : false,
    },
    additionalClassList,
  ]}
  {...attrs}
>
  <AgSummary class="disclose-title">{title}</AgSummary>
  <div class="disclose-panel">
    <slot />
  </div>
</AgDisclose>
