---
import 'agnostic-css/src/components/divider/divider.css';

import XElement from 'astro-xelement'
import { pluckClassesFromAttrs } from '../../shared/pluckClassesFromAttrs';

export interface Props {
  justify: 'start' | 'end';
  size?: 'small' | 'large' | 'xlarge';
  type?: 'success' | 'error' | 'info' | 'warning';
  isVertical?: boolean;
  dividerContent?: string;
}

const {
  justify,
  type,
  size,
  isVertical,
  dividerContent,
  ...attrs
} = Astro.props as Props;

const { div: AgDivider } = XElement;
const { additionalClassList } = pluckClassesFromAttrs(attrs);
---
<AgDivider
  class:list={[
    'divider',
    {
      'divider-vertical': isVertical ? true : false,
      'divider-small': size === 'small' ? true : false,
      'divider-large': size === 'large' ? true : false,
      'divider-xlarge': size === 'xlarge' ? true : false,
      'divider-success': type === 'success' ? true : false,
      'divider-info': type === 'info' ? true : false,
      'divider-error': type === 'error' ? true : false,
      'divider-warning': type === 'warning' ? true : false,
      'divider-justify-start': justify === 'start' ? true : false,
      'divider-justify-end': justify === 'end' ? true : false,
    },
    additionalClassList,
  ]}
  role="separator"
  aria-orientation={isVertical ? "vertical" : "horizontal"}
  {...attrs}
>
  {dividerContent && <span class="divider-content">{dividerContent}</span>}
</AgDivider>
