<div>
  <label class="select-label screenreader-only"
         for="options">Who is the greatest tennis player of all-time? Select from below.</label>
  <select class="select {{modifier}}"
          name="options"
          id="options">
    <option value>- Select the best tennis player of all time -</option>
    <option value="andre">Andre Agassi</option>
    <option value="serena">Serena Williams</option>
    <option value="roger">Roger Federer</option>
    <option value="mac">John McEnroe</option>
    <option value="martina">Martina Navratilova</option>
    <option value="rafa">Rafael Nadal</option>
    <option value="borg">Bjorn Borg</option>
    <option value="althea">Althea Gibson</option>
  </select>
</div>
