<article>
	<section class="mbe8">
    <h2 class="mbs0"><a href="http://agnosticui.com/" target="_blank">AgnosticUI</a> &plus; <a href="https://open-props.style/" target="_blank">open-props</a> === easy theming 🎨</h2>
	</section>
</article>
<style>
	section {
		margin-top: var(--fluid-56);
	}
</style>
