<p>Disabled choices</p>
<label class="checkbox-label-wrap disabled">
  <input class="checkbox checkbox-small"
         type="checkbox"
         name="weekdays"
         aria-hidden="true"
         focusable="false"
         disabled />
  <span class="checkbox-label-small checkbox-label">Weekdays</span>
</label>
<label class="radio-label-wrap disabled"
       for="disabledradio">
  <input type="radio"
         class="radio radio-small"
         value="small3"
         name="small"
         id="disabledradio"
         checked
         disabled />
  <span class="radio-label radio-label-small">Small 3</span>
</label>
