<p class="mbe24">
  Inspired by Heydon Pickering's
  <a href="http://book.inclusive-components.design/">Inclusive Components</a>
  book and
  <a href="https://www.sarasoueidan.com/blog/inclusively-hiding-and-styling-checkboxes-and-radio-buttons/">Sara
    Soueidan's article</a>
  on inclusively hiding and styling checkboxes and radio buttons. Lastly, the WAI
  <a href="https://www.w3.org/WAI/tutorials/forms/grouping/">grouping tutorial</a>
  was consulted.
</p>
<fieldset class="radio-group mbe24">
  <legend class="radio-legend">CSS conventions</legend>
  <label class="radio-label-wrap"
         for="bem">
    <input type="radio"
           class="radio"
           value="bem"
           name="conventions"
           id="bem" />
    <span class="radio-label"></span>
    <span class="radio-label-copy">BEM</span>
  </label>

  <label class="radio-label-wrap"
         for="oocss">
    <input type="radio"
           class="radio"
           value="OOCSS"
           name="conventions"
           id="oocss" />
    <span class="radio-label"></span>
    <span class="radio-label-copy">Object-Oriented CSS</span>
  </label>

  <label class="radio-label-wrap"
         for="smacss">
    <input type="radio"
           class="radio"
           value="smacss"
           name="conventions"
           id="smacss"
           checked />
    <span class="radio-label"></span>
    <span class="radio-label-copy">SMACSS</span>
  </label>
</fieldset>

<fieldset class="radio-group mbe24">
  <legend class="radio-legend">Marital status</legend>
  <label class="radio-label-wrap radio-label-wrap-inline"
         for="single">
    <input type="radio"
           class="radio"
           value="single"
           name="marital-status"
           id="single" />
    <span class="radio-label"></span>
    <span class="radio-label-copy">Single</span>
  </label>
  <label class="radio-label-wrap radio-label-wrap-inline"
         for="married">
    <input type="radio"
           class="radio"
           value="married"
           name="marital-status"
           id="married" />
    <span class="radio-label"></span>
    <span class="radio-label-copy">Married</span>
  </label>
  <label class="radio-label-wrap radio-label-wrap-inline"
         for="divorced">
    <input type="radio"
           class="radio"
           value="divorced"
           name="marital-status"
           id="divorced" />
    <span class="radio-label"></span>
    <span class="radio-label-copy">Divorced</span>
  </label>
</fieldset>
<p class="mbe24">
  Just some more copy with another
  <a href="http://book.inclusive-components.design/">link to inclusive components</a>
  primarily to test keyboard navigation. Here's with the fieldset borders removed and the
  legend hidden for sighted users, but still available for assistive technology such as screen
  readers. This is probably still a poor UX choice, but some designs may require it.
</p>
<p>
  It occurs to me you may wonder why we don't lean more heavily on positional elements in our
  CSS (e.g. we could do something like
  <i>[type="radio] + span</i> and similar. This is fine, but since we opt to copy the CSS over
  to framework implementations like React that use CSS Modules, having a class-driven approach
  makes that easier. It's also consistent with our loose conformance to
  <a href="http://oocss.org/">Object-Oriented CSS</a> and
  <a href="http://smacss.com/">SMACSS</a> conventions.
</p>

<fieldset class="radio-group radio-group-hidden mbe24">
  <legend class="screenreader-only">Radio control quality</legend>
  <label class="radio-label-wrap"
         for="one">
    <input type="radio"
           class="radio"
           value="one"
           name="numbers"
           id="one" />
    <span class="radio-label"></span>
    <span class="radio-label-copy">one</span>
  </label>

  <label class="radio-label-wrap"
         for="two">
    <input type="radio"
           class="radio"
           value="two"
           name="numbers"
           id="two" />
    <span class="radio-label"></span>
    <span class="radio-label-copy">two</span>
  </label>

  <label class="radio-label-wrap"
         for="three">
    <input type="radio"
           class="radio"
           value="three"
           name="numbers"
           id="three"
           checked />
    <span class="radio-label"></span>
    <span class="radio-label-copy">three</span>
  </label>
</fieldset>

<p class="mbe24">
  To create <i>large</i> and <i>small</i> radio groups you use the add another class with the
  size suffix for the group: <i>radio-group radio-group-large</i>, the radio
  <i>radio radio-large</i>, and the following element that contains the label text
  <i>radio-label radio-label-large</i>. The next example creates a &ldquo;large&rdquo; radio
  group:
</p>
<fieldset class="radio-group radio-group-large mbe24">
  <legend class="radio-legend">Large</legend>
  <label class="radio-label-wrap"
         for="large1">
    <input type="radio"
           class="radio radio-large"
           value="large1"
           name="large"
           id="large1" />
    <span class="radio-label radio-label-large"></span>
    <span class="radio-label-copy radio-label-copy-large">Large 1</span>
  </label>

  <label class="radio-label-wrap"
         for="large2">
    <input type="radio"
           class="radio radio-large"
           value="large2"
           name="large"
           id="large2" />
    <span class="radio-label radio-label-large"></span>
    <span class="radio-label-copy radio-label-copy-large">Large 2</span>
  </label>

  <label class="radio-label-wrap"
         for="large3">
    <input type="radio"
           class="radio radio-large"
           value="large3"
           name="large"
           id="large3"
           checked />
    <span class="radio-label radio-label-large"></span>
    <span class="radio-label-copy radio-label-copy-large">Large 3</span>
  </label>
</fieldset>
<p class="mbe24">The next example creates a &ldquo;small&rdquo; radio group:</p>
<fieldset class="radio-group mbe24">
  <legend class="radio-legend">Small</legend>
  <label class="radio-label-wrap"
         for="small1">
    <input type="radio"
           class="radio radio-small"
           value="small1"
           name="small"
           id="small1" />
    <span class="radio-label radio-label-small"></span>
    <span class="radio-label-copy radio-label-copy-small">Small 1</span>
  </label>

  <label class="radio-label-wrap"
         for="small2">
    <input type="radio"
           class="radio radio-small"
           value="small2"
           name="small"
           id="small2" />
    <span class="radio-label radio-label-small"></span>
    <span class="radio-label-copy radio-label-copy-small">Small 2</span>
  </label>

  <label class="radio-label-wrap"
         for="small3">
    <input type="radio"
           class="radio radio-small"
           value="small3"
           name="small"
           id="small3"
           checked />
    <span class="radio-label radio-label-small"></span>
    <span class="radio-label-copy radio-label-copy-small">Small 3</span>
  </label>
</fieldset>
