<div>
  <h1>{{ title }}</h1>
</div>

<h2>Text Input</h2>
<section>
  <form>
    <div class="mbe8">
      <label class="label"
             for="input-text">Input label</label>
      <input class="input"
             id="input-text"
             name="input-text"
             type="text" />
    </div>
    <div class="mbe8">
      <label class="label"
             for="input-text-rounded">Input rounded label</label>
      <input class="input input-rounded"
             id="input-text-rounded"
             name="input-text-rounded"
             type="text" />
    </div>
    <div class="mbe8">
      <label class="label"
             for="input-readonly">Input readonly</label>
      <input readonly
             class="input"
             id="input-readonly"
             name="input-readonly"
             type="text"
             value="This value is readonly" />
    </div>
    <div class="mbe8">
      <label class="label"
             for="input-disabled">Input disabled</label>
      <input class="input"
             id="input-disabled"
             name="input-disabled"
             type="text"
             disabled />
    </div>
    <div class="mbe8">
      <label class="label label-small"
             for="input-text-small">Input small label</label>
      <input class="input input-small"
             id="input-text-small"
             name="input-text-small"
             type="text" />
    </div>
    <div class="mbe8">
      <label class="label label-"
             for="input-text-large">Input large label</label>
      <input class="input input-large"
             id="input-text-large"
             name="input-text-large"
             type="text" />
    </div>
    <div class="mbe8">
      <label class="label"
             for="input-text-underlined">Underlined inputs</label>
      <input class="input input-underlined"
             id="input-text-underlined"
             name="input-text-underlined"
             type="text" />
    </div>
    <div class="mbe8">
      <label class="label"
             for="input-text-underlined-bg">Underlined inputs with background</label>
      <input class="input input-underlined input-underlined-bg"
             id="input-text-underlined-bg"
             name="input-text-underlined-bg"
             type="text" />
    </div>
    <div class="mbe8">
      <label class="label"
             for="input-text-underlined-bg-large">Underlined input combined with size large</label>
      <input class="input input-underlined input-underlined-bg input-large"
             id="input-text-underlined-bg-large"
             name="input-text-underlined-bg-large"
             type="text" />
    </div>
    <div class="mbs32 mbe8 flex justify-start">
      <label class="label label-inline"
             for="input-text-inlined">Input label (inline)</label>
      <input class="input input-inline"
             id="input-text-inlined"
             name="input-text-inlined"
             type="text" />
    </div>
    <div class="mbs32 mbe8"
      <label class="label label-inline"
             for="input-text-underlined-inline">Input label (inline underlined)</label>
      <input class="input input-inline input-underlined"
             id="input-text-underlined-inline"
             name="input-text-underlined-inline"
             type="text" />
    </div>
  </form>
</section>
