<section>
  <form>
    <div>
      <h3>Underlined examples</h3>
      <label class="label"
             for="input-email-underlined">Email</label>
      <input class="input input-underlined"
             id="input-email-underlined"
             name="input-email-underlined"
             type="email" />
      <label class="label"
             for="input-password-underlined">Password</label>
      <input class="input input-underlined"
             id="input-password-underlined"
             name="input-password-underlined"
             type="password" />
    </div>
  </form>
</section>
