.dialog,
.dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dialog {
  z-index: 1001;
  display: flex;
}

.dialog[aria-hidden='true'] {
  display: none;
}

.dialog-overlay {
  background-color: rgba(50, 50, 50, 0.6);
  animation: fade-in var(--agnostic-timing-fast) both;
}

.dialog-content {
  margin: auto;
  z-index: 1001;
  position: relative;
  background-color: white;
}

.dialog-content {
  background-color: rgb(255, 255, 255);
  margin: auto;
  z-index: 1001;
  position: relative;
  animation: fade-in var(--agnostic-timing-fast) both,
    slide-up var(--agnostic-timing-slow) var(--agnostic-timing-fast) both;
  padding: var(--fluid-16);
  max-width: 90%;
  width: 600px;
  border-radius: var(--agnostic-radius);
  /* Bootstrap removes outline likely for some sort of edge case browser or something. If I
  manually put focus-visible I can trigger the outline, but I don't see how this would happen
  since focus is controller by JS in a11y-dialog -- something to keep an eye on though */
  /* outline: 0; */
}

@media screen and (min-width: 700px) {
  .dialog-content {
    padding: var(--fluid-32);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10%);
  }
}

/* Shared with AgnosticUI close buton so only need positioning and transition */
.dialog-close {
  position: absolute;
  top: var(--fluid-8);
  right: var(--fluid-8);
  transition: var(--agnostic-timing-fast);
}

@media (prefers-reduced-motion: reduce) {
  .dialog-close {
    transition: none;
  }
  .dialog-content {
    animation: none;
  }
}

@media only screen and (min-width: 576px) {
  .dialog-close {
    top: var(--fluid-12);
    right: var(--fluid-12);
  }
}

@media screen and (min-width: 768px) {
  .dialog-close {
    top: var(--fluid-16);
    right: var(--fluid-16);
  }
}
