.App {
  display: block;
  min-width: 600px;
  max-width: 1000px;
  margin: 100px auto;
  padding-top: 5rem;
}

h1, h2, h3,
section {
  margin-bottom: 2rem;
}

/**
 * Header Examples
 */
.header-flex-fill {
  flex-grow: 0;
}
.header-flex-fill {
  margin-inline-start: 0;
}

.header-mbe16 {
  margin-inline-end: 0;
}

@media (min-width: 970px) {

  .header-flex-fill {
    flex-grow: 1;
    margin-inline-start: var(--fluid-16)
  }
  
  .header-mbe16 {
    margin-inline-end: var(--fluid-16);
  }
}
