<div>
  <h1>{{ title }}</h1>
  <progress class="progress mbe32"
            value="0"
            max="100"></progress>
  <div class="btn-group">
    <button class="runProgress btn btn-rounded">Run</button>
    <button class="stopProgress btn btn-rounded">Stop</button>
  </div>
</div>
<script>
  const progressElement = document.querySelector('.progress')
  const playButton = document.querySelector('.runProgress')
  const stopButton = document.querySelector('.stopProgress')
  let requestAnimationID
  let progress = 0

  const step = () => {
    playButton.disabled = true
    stopButton.disabled = false
    progress += 1
    progressElement.setAttribute('value', `${progress}`)
    if (progress === 100) {
      playButton.disabled = false
      stopButton.disabled = true
    } else if (progress < 100) {
      requestAnimationID = requestAnimationFrame(step)
    }
  }
  requestAnimationID = requestAnimationFrame(step)
  playButton.addEventListener('click', () => {
    if (progress >= 100) {
      progress = 0
    }
    requestAnimationID = requestAnimationFrame(step)
  })
  stopButton.addEventListener('click', () => {
    if (requestAnimationID) {
      cancelAnimationFrame(requestAnimationID)
      requestAnimationID = undefined
      // Re-enable the Play button
      playButton.disabled = false
      stopButton.disabled = true
    }
  })
</script>
