---
import { Code } from 'astro/components';
// We can use this too but will need to go grab a CSS theme
// import { Prism } from '@astrojs/prism';

import XElement from 'astro-xelement'

import AgAvatar from '../../lib/components/Avatar.astro'

import BaseLayout from '../../layouts/BaseLayout.astro';

const { HContainer} = XElement;

---
  <BaseLayout>
    <div class="h3 mbs40">Avatars</div>
    <HContainer class="container">
      <p class="mbs24 mbe24">The <a href="https://github.com/agnosticui/agnosticui/agnostic-astro" target="_blank">agnostic-astro</a>
      package utilizes <a href="https://github.com/astro-community/xelement" target="_blank">XElement</a> under-the-hood in order to provide build-time
      <a href="https://docs.astro.build/en/core-concepts/astro-components/" target="_blank">Astro components</a>. These build-time components will help
      your project get closer to realizing a mostly <span class="quoted">no client-side runtime</span>…if you do it right, this should mean an all-green 100% Lighthouse performance score!
      Leverage the benefits of <a href="https://docs.astro.build/en/core-concepts/partial-hydration/#island-architecture" target="_blank">Islands architecture</a>
      by sending mostly server built <a href="https://github.com/agnosticui/agnosticui/agnostic-astro" target="_blank">agnostic-astro</a> components. Then,
      sprinkle client-hydrated ones only as needed.</p>

      <div class="h4 mbe24">Usage</div>
      <p class="mbe12">AgnosticUI requires the import of the <code>common.min.css</code> from your Astro base layout:
      <Code code={`import 'agnostic-css/public/css-dist/common.min.css';`} lang="javascript" wrap />
      </p>
      <p class="mbs24 mbe12">Then you can import Astro Avatar component:
      <Code code={`import AgAvatar from 'agnostic-astro/Avatar.astro';`} lang="javascript" wrap />
      </p>
      <p class="mbs24 mbe12">Here's the <a href="https://github.com/AgnosticUI/agnosticui/tree/master/agnostic-astro" target="_blank">agnostic-astro</a> Alert component in use:</p>
      <Code code={`<Avatar text="AB" />
<AgAvatar text="ab" type="success" />
<AgAvatar text="ab" type="warning" />
<AgAvatar text="ab" type="error" />
<AgAvatar text="ab" type="info" />
<AgAvatar type="success" imgUrl="https://joeschmoe.io/api/v1/jess" />
<AgAvatar text="sm" size="small" />
<AgAvatar text="def" />
<AgAvatar text="lg" size="large" />
<AgAvatar text="xl" size="xlarge" />
<div class="avatar-group">
  <AgAvatar imgUrl="https://joeschmoe.io/api/v1/julie" />
  <AgAvatar imgUrl="https://joeschmoe.io/api/v1/jess" />
  <AgAvatar imgUrl="https://joeschmoe.io/api/v1/jon" />
  <AgAvatar imgUrl="https://joeschmoe.io/api/v1/jia" />
  <AgAvatar imgUrl="https://joeschmoe.io/api/v1/joe" />
</div>`} lang="html" wrap />
      <div class="mbs40 mbe24 flex align-center">
        <AgAvatar text="ab" />
        <span class="mis4" />
        <AgAvatar text="ab" type="success" />
        <span class="mis4" />
        <AgAvatar text="ab" type="warning" />
        <span class="mis4" />
        <AgAvatar text="ab" type="error" />
        <span class="mis4" />
        <AgAvatar text="ab" type="info" />
      </div>
      <div class="mbs40 mbe24 flex align-center">
        <AgAvatar type="success" imgUrl="https://joeschmoe.io/api/v1/jess" />
        <span class="mis4" />
        <AgAvatar type="info" imgUrl="https://joeschmoe.io/api/v1/jon" />
        <span class="mis4" />
        <AgAvatar type="warning" imgUrl="https://joeschmoe.io/api/v1/julie" />
        <span class="mis4" />
        <AgAvatar type="error" imgUrl="https://joeschmoe.io/api/v1/jia" />
        <span class="mis4" />
        <AgAvatar type="error" imgUrl="https://joeschmoe.io/api/v1/jacques" />
      </div>
      <div class="h4">Sizes</div>
      <div class="mbs12 mbe24 flex align-center">
        <AgAvatar text="sm" size="small" />
        <span class="mis4" />
        <AgAvatar text="def" />
        <span class="mis4" />
        <AgAvatar text="lg" size="large" />
        <span class="mis4" />
        <AgAvatar text="xl" size="xlarge" />
      </div>
      <div class="h4">Grouped</div>
      <div class="mbs12 mbe24 flex align-center">
        <div class="avatar-group">
          <AgAvatar imgUrl="https://joeschmoe.io/api/v1/julie" />
          <AgAvatar imgUrl="https://joeschmoe.io/api/v1/jess" />
          <AgAvatar imgUrl="https://joeschmoe.io/api/v1/jon" />
          <AgAvatar imgUrl="https://joeschmoe.io/api/v1/jia" />
          <AgAvatar imgUrl="https://joeschmoe.io/api/v1/joe" />
        </div>
        <div class="mis16 avatar-group">
          <AgAvatar text="i" type="info" />
          <AgAvatar text="s" type="success" />
          <AgAvatar text="w" type="warning" />
          <AgAvatar text="e" type="error" />
        </div>
      </div>
    </HContainer>
  </BaseLayout>
  