---
import { Code } from 'astro/components';
// We can use this too but will need to go grab a CSS theme
// import { Prism } from '@astrojs/prism';

import XElement from 'astro-xelement'
import AgDialog from '../../lib/components/Dialog.astro'
import BaseLayout from '../../layouts/BaseLayout.astro';
const { HContainer} = XElement;

---
  <BaseLayout>
    <div class="h3 mbs40">TBD</div>
    <HContainer class="container">
      <p class="mbs24 mbe24">The <a href="https://github.com/agnosticui/agnosticui/agnostic-astro" target="_blank">agnostic-astro</a> package utilizes utilizes <a href="https://github.com/astro-community/xelement" target="_blank">XElement</a> which exposes native events and
      a handy <code>store</code>. Here's an <a href="https://github.com/AgnosticUI/agnosticui/tree/master/agnostic-astro" target="_blank">agnostic-astro</a> TBD:</p>
      <Code code={`<tbd>tbd</tbd>`} lang="html" wrap />
      <div class="mbe24" />
      <div
        class="dialog-container"
        id="agdialog"
        aria-hidden="true"
        aria-labelledby="my-dialog-title"
        aria-describedby="my-dialog-description"
      >
        <div class="dialog-overlay" data-a11y-dialog-hide></div>
        <div class="dialog-content" role="document">
          <button
            data-a11y-dialog-hide
            class="dialog-close"
            aria-label="Close this dialog window"
          >
            &times;
          </button>

          <h1 id="my-dialog-title">Subscribe to our newsletter</h1>

          <p id="my-dialog-description">
            Fill in the ridiculously small form below to receive our ridiculously
            cool newsletter!
          </p>

          <form>
            <label for="email">Email (required)</label>
            <input
              type="email"
              name="EMAIL"
              id="email"
              placeholder="john.doe@gmail.com"
              required
            />
            <button type="submit" name="button">Sign up</button>
          </form>
        </div>
      </div>
      <AgDialog dialogId="agdialog" />
    </HContainer>
  </BaseLayout>
  