---
import { Code } from 'astro/components';
// We can use this too but will need to go grab a CSS theme
// import { Prism } from '@astrojs/prism';

import XElement from 'astro-xelement'

import AgButton from '../../lib/components/Button.astro'
import AgEmptyState from '../../lib/components/EmptyState.astro';

import BaseLayout from '../../layouts/BaseLayout.astro';

const { HContainer} = XElement;

---
  <BaseLayout>
    <div class="h3 mbs40">EmptyState</div>
    <HContainer class="container">
      <p class="mbs24 mbe24">The <a href="https://github.com/agnosticui/agnosticui/agnostic-astro" target="_blank">agnostic-astro</a>
      package utilizes <a href="https://github.com/astro-community/xelement" target="_blank">XElement</a> under-the-hood in order to provide build-time
      <a href="https://docs.astro.build/en/core-concepts/astro-components/" target="_blank">Astro components</a>. These build-time components will help
      your project get closer to realizing a mostly <span class="quoted">no client-side runtime</span>…if you do it right, this should mean an all-green 100% Lighthouse performance score!
      Leverage the benefits of <a href="https://docs.astro.build/en/core-concepts/partial-hydration/#island-architecture" target="_blank">Islands architecture</a>
      by sending mostly server built <a href="https://github.com/agnosticui/agnosticui/agnostic-astro" target="_blank">agnostic-astro</a> components. Then,
      sprinkle client-hydrated ones only as needed.</p>

      <div class="h4 mbe24">Usage</div>
      <p class="mbe12">Ensure you've installed the <code>agnostic-astro</code> npm package
        (note this installs depedency <code>agnostic-css</code> as well):
        <Code code={`npm i agnostic-astro`} lang="bash" wrap />
      </p>
      <p class="mbs18 mbe12">and then import <code>common.min.css</code> from your &ldquo;base layout&rdquo; (you should only need to do this in once place as this is global CSS). This brings in
      the required CSS custom properties, reset, and properties:
        <Code code={`import 'agnostic-css/public/css-dist/common.min.css';`} lang="javascript" wrap />
      </p>
      <p class="mbs24 mbe12">Then you can import Astro EmptyState component:
      <Code code={`import AgEmptyState from 'agnostic-astro/EmptyState.astro';`} lang="javascript" wrap />
      </p>
      <p class="mbs24 mbe12">Here's the <a href="https://github.com/AgnosticUI/agnosticui/tree/master/agnostic-astro" target="_blank">agnostic-astro</a> EmptyState component in use:</p>
      <Code code={`<AgEmptyState isRounded isBordered><p>Any DOM stuffs can go here…</p></AgEmptyState>`} lang="html" wrap />
      <div class="mbe24" />
      <AgEmptyState isRounded>
        <svg xmlns="http://www.w3.org/2000/svg"
            fill="#999"
            width="40"
            height="40"
            viewBox="0 0 24 24">
          <path fill-rule="evenodd"
                d="M12 2.5a5.5 5.5 0 00-3.096 10.047 9.005 9.005 0 00-5.9 8.18.75.75 0 001.5.045 7.5 7.5 0 0114.993 0 .75.75 0 101.499-.044 9.005 9.005 0 00-5.9-8.181A5.5 5.5 0 0012 2.5zM8 8a4 4 0 118 0 4 4 0 01-8 0z" />
        </svg>
        <div class="h4">No connections yet</div>
        <p class="mbe16" style="color: var(--agnostic-gray-dark);">Click below to add some friends</p>
        <AgButton class="mbs24" mode="primary" @click={() => console.log('You clicked Invite friends...')}>Invite Friends</AgButton>
      </AgEmptyState>
      <AgEmptyState class="mbs24" isRounded isBordered>
        <svg xmlns="http://www.w3.org/2000/svg"
            fill="#999"
            width="40"
            height="40"
            viewBox="0 0 24 24">
          <path fill-rule="evenodd"
                d="M12 2.5a5.5 5.5 0 00-3.096 10.047 9.005 9.005 0 00-5.9 8.18.75.75 0 001.5.045 7.5 7.5 0 0114.993 0 .75.75 0 101.499-.044 9.005 9.005 0 00-5.9-8.181A5.5 5.5 0 0012 2.5zM8 8a4 4 0 118 0 4 4 0 01-8 0z" />
        </svg>
        <div class="h4">No connections yet</div>
        <p class="mbe16" style="color: var(--agnostic-gray-dark);">Click below to add some friends</p>
        <AgButton class="mbs24" mode="primary" @click={() => console.log('You clicked Invite friends...')}>Invite Friends</AgButton>
      </AgEmptyState>
    </HContainer>
  </BaseLayout>
  
  