---
import { Code } from 'astro/components';
import XElement from 'astro-xelement'

import AgLoader from '../../lib/components/Loader.astro'
import BaseLayout from '../../layouts/BaseLayout.astro';

const { HContainer} = XElement;

---
  <BaseLayout>
    <div class="h3 mbs40">Loader</div>
    <HContainer class="container">
      <p class="mbs24 mbe24">The <a href="https://github.com/agnosticui/agnosticui/agnostic-astro" target="_blank">agnostic-astro</a> package utilizes utilizes <a href="https://github.com/astro-community/xelement" target="_blank">XElement</a>.
      Here's how to use an <a href="https://github.com/AgnosticUI/agnosticui/tree/master/agnostic-astro" target="_blank">agnostic-astro</a> Loader:</p>
      <Code code={`...
<AgLoader class="mbs40" size="small" />
<AgLoader class="mbs40" label="My screenreader only label for accessibility" />
<AgLoader class="mbs40" size="large" />
<div class="h4 mbs24">In 5 seconds a customized Loader will be shown below…</div>
<AgLoader class="manuallyShow mbs40" showOnMount={false} size="xlarge" style="--agnostic-loading-color: salmon;" />
<div class="h4 mbs24 mbe24">Center via flex container</div>
<div class="flex justify-center">
  <AgLoader class="mbs40" size="large" />
</div>
...and so on
<script>
  setTimeout(() => {
    document.querySelector('.manuallyShow').setAttribute('aria-busy', 'true');
  }, 5000);
</script>
`} lang="html" wrap />
      <div class="mbe24" />
      <AgLoader class="mbs40" size="small" />
      <AgLoader class="mbs40" label="My screenreader only label for accessibility" />
      <AgLoader class="mbs40" size="large" />
      <div class="h4 mbs24">In 5 seconds a customized Loader will be shown below…</div>
      <AgLoader class="manuallyShow mbs40" showOnMount={false} size="xlarge" style="--agnostic-loading-color: salmon;" />
      <div class="h4 mbs24 mbe24">Center via flex container</div>
      <div class="flex justify-center">
        <AgLoader class="mbs40" size="large" />
      </div>
    </HContainer>
  </BaseLayout>
  <script>
    setTimeout(() => {
      document.querySelector('.manuallyShow').setAttribute('aria-busy', 'true');
    }, 5000);
  </script>
  