---
import { Code } from 'astro/components';
import XElement from 'astro-xelement'

import AgLoader from '../../lib/components/Loader.astro'
import BaseLayout from '../../layouts/BaseLayout.astro';

const { HContainer} = XElement;

---
  <BaseLayout>
    <div class="h3 mbs40">Loader</div>
    <HContainer class="container">
      <p class="mbs24 mbe24">The <a href="https://github.com/agnosticui/agnosticui/agnostic-astro" target="_blank">agnostic-astro</a>
      package utilizes <a href="https://github.com/astro-community/xelement" target="_blank">XElement</a> under-the-hood in order to provide build-time
      <a href="https://docs.astro.build/en/core-concepts/astro-components/" target="_blank">Astro components</a>. These build-time components will help
      your project get closer to realizing a mostly <span class="quoted">no client-side runtime</span>…if you do it right, this should mean an all-green 100% Lighthouse performance score!
      Leverage the benefits of <a href="https://docs.astro.build/en/core-concepts/partial-hydration/#island-architecture" target="_blank">Islands architecture</a>
      by sending mostly server built <a href="https://github.com/agnosticui/agnosticui/agnostic-astro" target="_blank">agnostic-astro</a> components. Then,
      sprinkle client-hydrated ones only as needed.</p>
      <div class="h4 mbe24">Usage</div>
      <p class="mbe12">Ensure you've installed and setup the <a href="https://github.com/AgnosticUI/agnosticui/tree/master/integrations/astro/agnostic-astro" target="_blank">AgnosticUI Astro integration</a>
      which will import the required <code>common.min.css</code> onto your page:
      <Code code={`npm i astro-agnosticui`} lang="bash" wrap />
      </p>
      <p class="mbs24 mbe12">Then add the integration to your <code>astro.config.mjs</code> (you may need to run Astro with experimental integrations flag <code>astro dev --experimental-integrations</code>):
        <Code code={`import { defineConfig } from 'astro/config';
import agnosticAstro from 'astro-agnosticui';;
export default defineConfig({
  integrations: [agnosticAstro()]
});`} lang="javascript" wrap />
      </p>
      <p class="mbs24 mbe12">Then you can import Astro Loader component (<code>agnostic-astro</code> ships with the <code>astro-agnosticui</code> integration):
      <Code code={`import AgLoader from 'agnostic-astro/Loader.astro';`} lang="javascript" wrap />
      </p>
      <p class="mbs24 mbe12">Here's the <a href="https://github.com/AgnosticUI/agnosticui/tree/master/agnostic-astro" target="_blank">agnostic-astro</a> Loader component in use:</p>
      <Code code={`...
<AgLoader class="mbs40" size="small" />
<AgLoader class="mbs40" label="My screenreader only label for accessibility" />
<AgLoader class="mbs40" size="large" />
<div class="h4 mbs24">In 5 seconds a customized Loader will be shown below…</div>
<AgLoader class="manuallyShow mbs40" showOnMount={false} size="xlarge" style="--agnostic-loading-color: salmon;" />
<div class="h4 mbs24 mbe24">Center via flex container</div>
<div class="flex justify-center">
  <AgLoader class="mbs40" size="large" />
</div>
...and so on
<script>
  setTimeout(() => {
    document.querySelector('.manuallyShow').setAttribute('aria-busy', 'true');
  }, 5000);
</script>
`} lang="html" wrap />
      <div class="mbe24" />
      <AgLoader class="mbs40" size="small" />
      <AgLoader class="mbs40" label="My screenreader only label for accessibility" />
      <AgLoader class="mbs40" size="large" />
      <div class="h4 mbs24">In 5 seconds a customized Loader will be shown below…</div>
      <AgLoader class="manuallyShow mbs40" showOnMount={false} size="xlarge" style="--agnostic-loading-color: salmon;" />
      <div class="h4 mbs24 mbe24">Center via flex container</div>
      <div class="flex justify-center">
        <AgLoader class="mbs40" size="large" />
      </div>
    </HContainer>
  </BaseLayout>
  <script>
    setTimeout(() => {
      document.querySelector('.manuallyShow').setAttribute('aria-busy', 'true');
    }, 5000);
  </script>
  