---
import MenuItem from '../../lib/components/MenuItem.astro';
import { Code } from 'astro/components';

import XElement from 'astro-xelement'

import "agnostic-css/src/components/table/table.css"

import AgMenu from '../../lib/components/Menu.astro'
import AgMenuItem from '../../lib/components/MenuItem.astro'

import BaseLayout from '../../layouts/BaseLayout.astro';

const { HContainer} = XElement;
---
  <BaseLayout>
    <div class="h3 mbs40">Menu</div>
    <HContainer class="container">
      <p class="mbs24 mbe24">The <a href="https://github.com/agnosticui/agnosticui/agnostic-astro" target="_blank">agnostic-astro</a> package utilizes utilizes <a href="https://github.com/astro-community/xelement" target="_blank">XElement</a>. The <a href="https://github.com/AgnosticUI/agnosticui/tree/master/agnostic-astro" target="_blank">agnostic-astro</a> Menu supports
      inclusive navigation with a mouse or keyboard using the semantics described in the following table:</p>
      <div class="table-responsive mbe40">
        <table class="table table-xlarge">
          <caption class="caption-top">
            Menu Keyboard Navigation
          </caption>
          <thead>
            <tr>
              <th aria-sort="ascending" scope="col">Key</th>
              <th aria-sort="none" scope="col">Location</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><kbd>Enter</kbd>, <kbd>Space</kbd> or <kbd>↓</kbd></td>
              <td>On menu trigger button</td>
              <td>Opens menu options</td>
            </tr>
            <tr>
              <td><kbd>↓</kbd></td>
              <td>On a menu item</td>
              <td>Moves focus to next item. If last item moves focus to first</td>
            </tr>
            <tr>
              <td><kbd>↑</kbd></td>
              <td>On a menu item</td>
              <td>Moves focus to previous item. If first item moves focus to last</td>
            </tr>
            <tr>
              <td><kbd>Enter</kbd> or <kbd>Space</kbd></td>
              <td>On a menu item</td>
              <td>Selects the menu items. If <code>closeOnSelect</code> will close the menu items</td>
            </tr>
            <tr>
              <td><kbd>Home</kbd> or <kbd>End</kbd></td>
              <td>On a menu item</td>
              <td>Selects first or last menu item respectively</td>
            </tr>
            <tr>
              <td><kbd>Esc</kbd></td>
              <td>On a menu item</td>
              <td>Closes menu items and places focus back on the menu trigger button</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mbe24" />
      <AgMenu
        id="simple"
        buttonLabel="Tennis Players"
      >
        <AgMenuItem>Andre Agassi</AgMenuItem>
        <AgMenuItem>Serena Williams</AgMenuItem>
        <AgMenuItem isDisabled>Rafael Nadal</AgMenuItem>
        <AgMenuItem>Roger Federer</AgMenuItem>
        <AgMenuItem>Althea Gibson</AgMenuItem>
        <AgMenuItem>Bjorn Borg</AgMenuItem>
      </AgMenu>
      <div class="mbe24" />
      <Code code={`<AgMenu
  id="simple"
  buttonLabel="Tennis Players"
>
  <AgMenuItem>Andre Agassi</AgMenuItem>
  <AgMenuItem>Serena Williams</AgMenuItem>
  <AgMenuItem isDisabled>Rafael Nadal</AgMenuItem>
  <AgMenuItem>Roger Federer</AgMenuItem>
  <AgMenuItem>Althea Gibson</AgMenuItem>
  <AgMenuItem>Bjorn Borg</AgMenuItem>
</AgMenu>`} lang="html" wrap />
      <div class="mbe24" />
      <AgMenu
        id="simplesmall"
        buttonLabel="Tennis Players (small)"
        size="small"
      >
        <AgMenuItem>Andre Agassi</AgMenuItem>
        <AgMenuItem>Serena Williams</AgMenuItem>
        <AgMenuItem isDisabled>Rafael Nadal</AgMenuItem>
        <AgMenuItem>Roger Federer</AgMenuItem>
        <AgMenuItem>Althea Gibson</AgMenuItem>
        <AgMenuItem>Bjorn Borg</AgMenuItem>
      </AgMenu>
      <div class="mbe24" />
      <Code code={`<AgMenu
  id="simplesmall"
  buttonLabel="Tennis Players (small)"
  size="small"
>
  <AgMenuItem>Andre Agassi</AgMenuItem>
  <AgMenuItem>Serena Williams</AgMenuItem>
  <AgMenuItem isDisabled>Rafael Nadal</AgMenuItem>
  <AgMenuItem>Roger Federer</AgMenuItem>
  <AgMenuItem>Althea Gibson</AgMenuItem>
  <AgMenuItem>Bjorn Borg</AgMenuItem>
</AgMenu>`} lang="html" wrap />
      <div class="mbe24" />
      <AgMenu
        id="simple2"
        buttonLabel="Tennis Players (large)"
        size="large"
      >
        <AgMenuItem>Andre Agassi</AgMenuItem>
        <AgMenuItem>Serena Williams</AgMenuItem>
        <AgMenuItem isDisabled>Rafael Nadal</AgMenuItem>
        <AgMenuItem>Roger Federer</AgMenuItem>
        <AgMenuItem>Althea Gibson</AgMenuItem>
        <AgMenuItem>Bjorn Borg</AgMenuItem>
      </AgMenu>
      <div class="mbe24" />
      <Code code={`<AgMenu
  id="simple2"
  buttonLabel="Tennis Players (large)"
  size="large"
>
  <AgMenuItem>Andre Agassi</AgMenuItem>
  <AgMenuItem>Serena Williams</AgMenuItem>
  <AgMenuItem isDisabled>Rafael Nadal</AgMenuItem>
  <AgMenuItem>Roger Federer</AgMenuItem>
  <AgMenuItem>Althea Gibson</AgMenuItem>
  <AgMenuItem>Bjorn Borg</AgMenuItem>
</AgMenu>`} lang="html" wrap />
      <div class="mbe24" />
      <AgMenu
        id="kebabs"
        buttonLabel="Tennis Players kebab"
        type="kebab"
      >
        <AgMenuItem>Andre Agassi</AgMenuItem>
        <AgMenuItem>Serena Williams</AgMenuItem>
        <AgMenuItem isDisabled>Rafael Nadal</AgMenuItem>
        <AgMenuItem>Roger Federer</AgMenuItem>
        <AgMenuItem>Althea Gibson</AgMenuItem>
        <AgMenuItem>Bjorn Borg</AgMenuItem>
      </AgMenu>
      <div class="mbe24" />
      <Code code={`<AgMenu
  id="kebabs"
  buttonLabel="Tennis Players (kebab)"
  type="kebab"
>
  <AgMenuItem>Andre Agassi</AgMenuItem>
  <AgMenuItem>Serena Williams</AgMenuItem>
  <AgMenuItem isDisabled>Rafael Nadal</AgMenuItem>
  <AgMenuItem>Roger Federer</AgMenuItem>
  <AgMenuItem>Althea Gibson</AgMenuItem>
  <AgMenuItem>Bjorn Borg</AgMenuItem>
</AgMenu>`} lang="html" wrap />
      <div class="mbe24" />
      <AgMenu
        id="hamburger"
        buttonLabel="Tennis Players hamburger"
        type="hamburger"
      >
        <AgMenuItem>Andre Agassi</AgMenuItem>
        <AgMenuItem>Serena Williams</AgMenuItem>
        <AgMenuItem isDisabled>Rafael Nadal</AgMenuItem>
        <AgMenuItem>Roger Federer</AgMenuItem>
        <AgMenuItem>Althea Gibson</AgMenuItem>
        <AgMenuItem>Bjorn Borg</AgMenuItem>
      </AgMenu>
      <div class="mbe24" />
      <Code code={`<AgMenu
  id="hamburger"
  buttonLabel="Tennis Players (hamburger)"
  type="hamburger"
>
  <AgMenuItem>Andre Agassi</AgMenuItem>
  <AgMenuItem>Serena Williams</AgMenuItem>
  <AgMenuItem isDisabled>Rafael Nadal</AgMenuItem>
  <AgMenuItem>Roger Federer</AgMenuItem>
  <AgMenuItem>Althea Gibson</AgMenuItem>
  <AgMenuItem>Bjorn Borg</AgMenuItem>
</AgMenu>`} lang="html" wrap />
      <div class="mbe24" />
      <AgMenu
        id="meatball"
        buttonLabel="Tennis Players meatball"
        type="meatball"
      >
        <AgMenuItem>Andre Agassi</AgMenuItem>
        <AgMenuItem>Serena Williams</AgMenuItem>
        <AgMenuItem isDisabled>Rafael Nadal</AgMenuItem>
        <AgMenuItem>Roger Federer</AgMenuItem>
        <AgMenuItem>Althea Gibson</AgMenuItem>
        <AgMenuItem>Bjorn Borg</AgMenuItem>
      </AgMenu>
      <div class="mbe24" />
      <Code code={`<AgMenu
  id="meatball"
  buttonLabel="Tennis Players (meatball)"
  type="meatball"
>
  <AgMenuItem>Andre Agassi</AgMenuItem>
  <AgMenuItem>Serena Williams</AgMenuItem>
  <AgMenuItem isDisabled>Rafael Nadal</AgMenuItem>
  <AgMenuItem>Roger Federer</AgMenuItem>
  <AgMenuItem>Althea Gibson</AgMenuItem>
  <AgMenuItem>Bjorn Borg</AgMenuItem>
</AgMenu>`} lang="html" wrap />
      <p class="mbs32">If you open the menu below, you will see we've preselected Roger Federer with <code>isSelected</code> and disabled some other players with <code>isDisabled</code>.</p>
      <p class="mbs24">Also, we've wired up an <code>onChange</code> handler which logs to the console.</p>
      <div class="mbe16" />
      <AgMenu
        id="meatball-preselected"
        buttonLabel="Tennis Players meatball preselected"
        type="meatball"
        onChange={(itemEl, index) => console.log('Menu item: ', itemEl.textContent.trim(), ', index: ', index )}
      >
        <AgMenuItem>Andre Agassi</AgMenuItem>
        <AgMenuItem>Serena Williams</AgMenuItem>
        <AgMenuItem>Rafael Nadal</AgMenuItem>
        <AgMenuItem isSelected>Roger Federer</AgMenuItem>
        <AgMenuItem isDisabled>Andy Roddick</AgMenuItem>
        <AgMenuItem>Anna Ivanovic</AgMenuItem>
        <AgMenuItem>Althea Gibson</AgMenuItem>
        <AgMenuItem isDisabled>Andy Murray</AgMenuItem>
        <AgMenuItem isDisabled>Martina Hingis</AgMenuItem>
        <AgMenuItem>Bjorn Borg</AgMenuItem>
      </AgMenu>
      <div class="mbe24" />
      <Code code={`<AgMenu
  id="meatball-preselected"
  buttonLabel="Tennis Players meatball preselected"
  type="meatball"
>
  <AgMenuItem>Andre Agassi</AgMenuItem>
  <AgMenuItem>Serena Williams</AgMenuItem>
  <AgMenuItem isSelected>Rafael Nadal</AgMenuItem>
  <AgMenuItem>Roger Federer</AgMenuItem>
  <AgMenuItem isDisabled>Andy Roddick</AgMenuItem>
  <AgMenuItem>Anna Ivanovic</AgMenuItem>
  <AgMenuItem isSelected>Althea Gibson</AgMenuItem>
  <AgMenuItem isDisabled>Andy Murray</AgMenuItem>
  <AgMenuItem isDisabled>Martina Hingis</AgMenuItem>
  <AgMenuItem>Bjorn Borg</AgMenuItem>
</AgMenu>`} lang="html" wrap />
    </HContainer>
  </BaseLayout>
<script is:inline>
const selectElement = document.querySelector('.tennis-players');
selectElement.addEventListener('change', (event) => {
  const select = event.target;
  const value = select.value;
  const description = select.selectedOptions[0].textContent;
  favorite.textContent = `${description} is your favorite tennis player.\n
    Also, your selected option's value attribute contained: ${value}`;
});
</script> 
