---
import { Code } from 'astro/components';
// We can use this too but will need to go grab a CSS theme
// import { Prism } from '@astrojs/prism';

import XElement from 'astro-xelement'

import AgSelect from '../../lib/components/Select.astro'

import BaseLayout from '../../layouts/BaseLayout.astro';

const { HContainer} = XElement;
---
  <BaseLayout>
    <div class="h3 mbs40">Select</div>
    <HContainer class="container">
      <p class="mbs24 mbe24">The <a href="https://github.com/agnosticui/agnosticui/agnostic-astro" target="_blank">agnostic-astro</a>
      package utilizes <a href="https://github.com/astro-community/xelement" target="_blank">XElement</a> under-the-hood in order to provide build-time
      <a href="https://docs.astro.build/en/core-concepts/astro-components/" target="_blank">Astro components</a>. These build-time components will help
      your project get closer to realizing a mostly <span class="quoted">no client-side runtime</span>…if you do it right, this should mean an all-green 100% Lighthouse performance score!
      Leverage the benefits of <a href="https://docs.astro.build/en/core-concepts/partial-hydration/#island-architecture" target="_blank">Islands architecture</a>
      by sending mostly server built <a href="https://github.com/agnosticui/agnosticui/agnostic-astro" target="_blank">agnostic-astro</a> components. Then,
      sprinkle client-hydrated ones only as needed.</p>
      <div class="h4 mbe24">Usage</div>
      <p class="mbe12">Ensure you've installed the <code>agnostic-astro</code> npm package
        (note this installs depedency <code>agnostic-css</code> as well):
        <Code code={`npm i agnostic-astro`} lang="bash" wrap />
      </p>
      <p class="mbs18 mbe12">and then import <code>common.min.css</code> from your &ldquo;base layout&rdquo; (you should only need to do this in once place as this is global CSS). This brings in
      the required CSS custom properties, reset, and properties:
        <Code code={`import 'agnostic-css/public/css-dist/common.min.css';`} lang="javascript" wrap />
      </p>
      <p class="mbs24 mbe12">Then you can import Astro Select component:
      <Code code={`import AgSelect from 'agnostic-astro/Select.astro';`} lang="javascript" wrap />
      </p>
      <p class="mbs24 mbe12">Here's the <a href="https://github.com/AgnosticUI/agnosticui/tree/master/agnostic-astro" target="_blank">agnostic-astro</a> Select component in use:</p>
      <Code code={`<AgSelect class="mbs24 tennis-players"
        label="Who is the greatest tennis player of all-time? Select from below."
        uniqueId="players"
        size="large"
        isDisabled={false}
>
  <option value disabled>--Select your favorite tennis player of all time--</option>
  <option value="andre">Andre Agassi</option>
  <option value="serena">Serena Williams</option>
  <option value="roger">Roger Federer</option>
  <option value="mac">John McEnroe</option>
  <option value="martina">Martina Navratilova</option>
  <option value="rafa">Rafael Nadal</option>
  <option value="borg">Bjorn Borg</option>
  <option value="althea">Althea Gibson</option>
</AgSelect>      
<script>
// There are many ways to listen for select events; this is just one
// pedantic way built atop of good ole' platform JavaScript ;-)
const selectElement = document.querySelector('.tennis-players');
selectElement.addEventListener('change', (event) => {
  const select = event.target;
  const value = select.value;
  const description = select.selectedOptions[0].textContent;
  favorite.textContent = description + 'is your favorite tennis player!'
});
</script> 
      `} lang="html" wrap />
      <AgSelect class="mbs24 tennis-players"
              label="Who is the greatest tennis player of all-time? Select from below."
              uniqueId="players"
              size="large"
              isDisabled={false}
      >
        <option value disabled>--Select your favorite tennis player of all time--</option>
        <option value="andre">Andre Agassi</option>
        <option value="serena">Serena Williams</option>
        <option value="roger">Roger Federer</option>
        <option value="mac">John McEnroe</option>
        <option value="martina">Martina Navratilova</option>
        <option value="rafa">Rafael Nadal</option>
        <option value="borg">Bjorn Borg</option>
        <option value="althea">Althea Gibson</option>
      </AgSelect>
      <div class="mbs32" id="favorite"></div>
    </HContainer>
  </BaseLayout>

<script is:inline src="/select-demo.js"></script>
