---
import { Code } from 'astro/components';
// We can use this too but will need to go grab a CSS theme
// import { Prism } from '@astrojs/prism';

import XElement from 'astro-xelement'

import AgSpinner from '../../lib/components/Spinner.astro'

import BaseLayout from '../../layouts/BaseLayout.astro';

const { HContainer} = XElement;

---
  <BaseLayout>
    <div class="h3 mbs40">Spinner</div>
    <HContainer class="container">
      <p class="mbs24 mbe24">The <a href="https://github.com/agnosticui/agnosticui/agnostic-astro" target="_blank">agnostic-astro</a> package utilizes utilizes <a href="https://github.com/astro-community/xelement" target="_blank">XElement</a>.
      Here's how to use an <a href="https://github.com/AgnosticUI/agnosticui/tree/master/agnostic-astro" target="_blank">agnostic-astro</a> spinner:</p>
      <Code code={`<div>
  <AgSpinner showOnMount size="small" />
  <AgSpinner showOnMount />
  <AgSpinner showOnMount size="large" />
  <AgSpinner showOnMount size="xlarge" />
  <div class="mbs24 text-center">In 5 seconds a customized spinner will be shown below…</span>
  <AgSpinner class="manuallyShow mbs40" showOnMount={false} size="xlarge" style="--agnostic-spinner-color: salmon;" />
</div>
<script>
  setTimeout(() => {
    // aria-busy toggles spinner's visibility. By default showOnMount is true but
    // in this case, we've set: showOnMount={false} allowing control via JavaScript
    document.querySelector('.manuallyShow').setAttribute('aria-busy', 'true');
  }, 5000);
</script>
`} lang="html" wrap />
      <div class="mbe24" />
      <AgSpinner showOnMount size="small" />
      <AgSpinner showOnMount />
      <AgSpinner showOnMount size="large" />
      <AgSpinner showOnMount size="xlarge" />
      <div class="mbs24 text-center">In 5 seconds a customized spinner will be shown below…</span>
      <AgSpinner class="manuallyShow mbs40" showOnMount={false} size="xlarge" style="--agnostic-spinner-color: salmon;" />
    </HContainer>
  </BaseLayout>
  <script>
    setTimeout(() => {
      document.querySelector('.manuallyShow').setAttribute('aria-busy', 'true');
    }, 5000);
  </script>
  