---
import { Code } from 'astro/components';
// We can use this too but will need to go grab a CSS theme
// import { Prism } from '@astrojs/prism';

import XElement from 'astro-xelement'

import AgClose from '../../lib/components/Close.astro'
import AgToasts from '../../lib/components/Toasts.astro'
import AgToast from '../../lib/components/Toast.astro'
import ToastIconExample from '../../shared/AlertIconExample.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const { HContainer} = XElement;
---
  <BaseLayout>
    <div class="h3 mbs40">Toasts</div>
    <HContainer class="container">
      <p class="mbs24 mbe24">The <a href="https://github.com/agnosticui/agnosticui/agnostic-astro" target="_blank">agnostic-astro</a>
      package utilizes <a href="https://github.com/astro-community/xelement" target="_blank">XElement</a> under-the-hood in order to provide build-time
      <a href="https://docs.astro.build/en/core-concepts/astro-components/" target="_blank">Astro components</a>. These build-time components will help
      your project get closer to realizing a mostly <span class="quoted">no client-side runtime</span>…if you do it right, this should mean an all-green 100% Lighthouse performance score!
      Leverage the benefits of <a href="https://docs.astro.build/en/core-concepts/partial-hydration/#island-architecture" target="_blank">Islands architecture</a>
      by sending mostly server built <a href="https://github.com/agnosticui/agnosticui/agnostic-astro" target="_blank">agnostic-astro</a> components. Then,
      sprinkle client-hydrated ones only as needed.</p>
      <div class="h4 mbe24">Usage</div>
      <p class="mbe12">Ensure you've installed and setup the <a href="https://github.com/AgnosticUI/agnosticui/tree/master/integrations/astro/agnostic-astro" target="_blank">AgnosticUI Astro integration</a>
      which will import the required <code>common.min.css</code> onto your page:
      <Code code={`npm i astro-agnosticui`} lang="bash" wrap />
      </p>
      <p class="mbs24 mbe12">Then add the integration to your <code>astro.config.mjs</code> (you may need to run Astro with experimental integrations flag <code>astro dev --experimental-integrations</code>):
        <Code code={`import { defineConfig } from 'astro/config';
import agnosticAstro from 'astro-agnosticui';;
export default defineConfig({
  integrations: [agnosticAstro()]
});`} lang="javascript" wrap />
      </p>
      <p class="mbs24 mbe12">Then you can import Astro Toast components:
      <Code code={`import AgToasts from 'agnostic-astro/Toasts.astro';
import AgToast from 'agnostic-astro/Toast.astro';`} lang="javascript" wrap />
      </p>
      <p class="mbs24 mbe12">Here's the <a href="https://github.com/AgnosticUI/agnosticui/tree/master/agnostic-astro" target="_blank">agnostic-astro</a> Toast component in use:</p>
      <Code code={`<AgToasts
  portalRootSelector="body"
  horizontalPosition="end"
  verticalPosition="top"
>
  <AgToast isOpen type="dark">
    <ToastIconExample type="dark" utilityClasses="mie8" />
    <p>This is a success toast message</p>
  </AgToast>
  <div class="mbe14" />
  <AgToast isOpen type="info">
    <ToastIconExample type="info" utilityClasses="mie8" />
    <p>This is a information toast message</p>
  </AgToast>
  <div class="mbe14" />
  <AgToast isOpen type="warning">
    <ToastIconExample type="warning" utilityClasses="mie8" />
    <p>This is a warning toast message</p>
  </AgToast>
</AgToasts>
<AgToasts
  portalRootSelector="body"
  horizontalPosition="center"
  verticalPosition="top"
>
  <AgToast id="infoToast" type="info">
    <ToastIconExample type="info" utilityClasses="mie8" />
    <p class="flex-fill">Success toast message that's closable</p>
    <AgClose
      color="var(--agnostic-primary-dark)"
      @click={(e) => {
        const toast = e.target.closest('#infoToast')
        toast.classList.add('hidden');
      }}
    />
  </AgToast>
  <div class="mbe14" />
  <AgToast id="successToast" type="success">
    <ToastIconExample type="success" utilityClasses="mie8" />
    <p class="flex-fill">Information toast message that's closable</p>
    <AgClose
      color="var(--agnostic-action-dark)"
      @click={(e) => {
        const toast = e.target.closest('#successToast')
        toast.classList.add('hidden');
      }}
    />
  </AgToast>
</AgToasts>
<AgToasts
  portalRootSelector="body"
  horizontalPosition="center"
  verticalPosition="bottom"
>
  <AgToast id="dismissMe" isOpen type="warning">
    <ToastIconExample type="warning" utilityClasses="mie8" />
    <p>This is an warning that will dismiss after 5 seconds</p>
  </AgToast>
  <div class="mbe14" />
  <AgToast id="dismissMe2" isOpen type="error">
    <ToastIconExample type="error" utilityClasses="mie8" />
    <p>This is an error that will dismiss after 5 seconds</p>
  </AgToast>
</AgToasts>
...and so on
<script is:inline>
setTimeout(() => {
  document.getElementById('dismissMe').classList.add('hidden');
  document.getElementById('dismissMe2').classList.add('hidden');
}, 5000);
</script>`} lang="html" wrap />
      <div class="mbe24" />
      <AgToasts
        portalRootSelector="body"
        horizontalPosition="end"
        verticalPosition="top"
      >
        <AgToast isOpen type="dark">
          <ToastIconExample type="dark" utilityClasses="mie8" />
          <p>This is a toast message</p>
        </AgToast>
        <div class="mbe14" />
        <AgToast isOpen type="info">
          <ToastIconExample type="info" utilityClasses="mie8" />
          <p>This is a information toast message</p>
        </AgToast>
        <div class="mbe14" />
        <AgToast isOpen type="warning">
          <ToastIconExample type="warning" utilityClasses="mie8" />
          <p>This is a warning toast message</p>
        </AgToast>
      </AgToasts>
      <AgToasts
        portalRootSelector="body"
        horizontalPosition="center"
        verticalPosition="top"
      >
        <AgToast id="infoToast" type="info">
          <ToastIconExample type="info" utilityClasses="mie8" />
          <p class="flex-fill">Success toast message that's closable</p>
          <AgClose
            color="var(--agnostic-primary-dark)"
            @click={(e) => {
              const toast = e.target.closest('#infoToast')
              toast.classList.add('hidden');
            }}
          />
        </AgToast>
        <div class="mbe14" />
        <AgToast id="successToast" type="success">
          <ToastIconExample type="success" utilityClasses="mie8" />
          <p class="flex-fill">Information toast message that's closable</p>
          <AgClose
            color="var(--agnostic-action-dark)"
            @click={(e) => {
              const toast = e.target.closest('#successToast')
              toast.classList.add('hidden');
            }}
          />
        </AgToast>
      </AgToasts>
      <AgToasts
        portalRootSelector="body"
        horizontalPosition="center"
        verticalPosition="bottom"
      >
        <AgToast id="dismissMe" isOpen type="warning">
          <ToastIconExample type="warning" utilityClasses="mie8" />
          <p>This is an warning that will dismiss after 5 seconds</p>
        </AgToast>
        <div class="mbe14" />
        <AgToast id="dismissMe2" isOpen type="error">
          <ToastIconExample type="error" utilityClasses="mie8" />
          <p>This is an error that will dismiss after 5 seconds</p>
        </AgToast>
      </AgToasts>
    </HContainer>
  </BaseLayout>
  
<script is:inline>
setTimeout(() => {
  document.getElementById('dismissMe').classList.add('hidden');
  document.getElementById('dismissMe2').classList.add('hidden');
}, 5000);
</script>
