/* NotFound page styles */

.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: hsl(var(--muted));
}

.content {
  text-align: center;
}

.title {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.message {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--ag-text-primary-muted);
}

.link {
  color: hsl(var(--primary));
  text-decoration: underline;
  transition: color 0.2s;
}

.link:hover {
  color: hsl(var(--primary-dark));
}