.component {
  margin-block-end: 20vh;
}

.hotips {
  display: flex;
}
.tip {
  width: 29%;
  margin: 0;
  padding: var(--Space-24);
  background-color: rgba(217, 216, 217, 0.1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 192px;
}
.tipcontent {
  display: inline-block;
  width: 69%;
  padding-block-start: var(--Space-24);
  padding-block-end: var(--Space-24);
  padding-inline-end: var(--Space-16);
  padding-inline-start: var(--Space-32);
}

.tipcontent p {
  display: inline-block;
}
