---
// common.min.css is distributed with agnostic-react
// and agnostic-svelte too. But, since we're using all
// of these together, we only need to import global CSS
// once and in one place.
// common.min.css combines properties, resets, utilities
// import "agnostic-vue/dist/common.min.css";
// But!! Rob much prefers individual modular import ;)
import "agnostic-vue/dist/common.properties.min.css";
import "agnostic-vue/dist/common.resets.min.css";
import "agnostic-vue/dist/common.utilities.min.css";
import "agnostic-vue/dist/opinions.min.css";

// Component Imports
// import Heading from '../components/Heading.astro';
// import React from '../components/react/React.jsx';
import LanguageSelector from '../components/svelte/LanguageSelector.svelte';
import Signup from '../components/vue/Signup.vue';
import Newsletter from '../components/astro/Newsletter.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Astro/AgnosticUI Site';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style>
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
		}

    :root {
      font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
    }

    html {
      /* Remove for this curated layout (from opinions.css) */
      scrollbar-gutter: unset;
    }

    .layout {
      display: grid;
      width: 100vw;
      height: 100vh;
      grid-template-columns: minmax(20rem, 33%) 1fr;
      gap: var(--fluid-16);
    }

    .left {
      display: grid;
      grid-template-rows: 60px 1fr 60px;
      /* #87a898 is lifted off the pagoda illustration */
      border-left: var(--fluid-14) solid #87a898;
    }

    .logo {
      margin-inline-start: var(--fluid-12);
    }

    .signup {
      place-self: center;
      width: 75%;
    }

    .right,
    .full-bleed {
      min-height: 100%;
      max-height: 100%;
    }

    .full-bleed {
      width: 100%;
      object-fit: cover;
    }
  </style>
</head>
<body>
	<main class="layout">
    <section class="left">
      <div class="flex-inline flex-row items-center justify-between">
        <img class="logo" width="48" height="48" alt="AgnosticUI Logo" />
        <LanguageSelector client:load />
      </div>
      <Signup client:load />
    </section>
    <section class="right">
      <picture>
        <source type="image/webp" srcset="/assets/pagoda-illo-optimized.webp">
        <source type="image/jpeg" srcset="//assets/pagoda-illo-optimized.jpg" >
        <img class="full-bleed" width="1344" height="1680" alt="Pagoda Illustration" src="/assets/pagoda-illo-optimized.jpg" />
      </picture>
      <Newsletter />
    </section>
	</main>
  <script is:inline>
    const setLogo = (currentMode) => {
      const logoPath = currentMode === "dark" ? "/assets/ag-logo-inverted.svg" : "/assets/ag-logo.svg";
      console.log('logoPath: ', logoPath)
      document.querySelector('.logo').src = logoPath;
    }
    requestAnimationFrame(() => {
      const currentMode = window.matchMedia("(prefers-color-scheme: dark)").matches
              ? "dark"
              : "light";
      setLogo(currentMode);
    });
    // Now also listen for user's OS preferences dynamically
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', ({
      matches: isDark
    }) => {
      const currentMode = isDark ? 'dark' : 'light';
      setLogo(currentMode);
    });
  </script>
</body>
</html>


