<section class="mbe24">
  <h1 class="text-capitalize">utilities</h1>
  <p class="mbe24">AgnosticUI provides some utility classes for common issues. However, note that the project prefers
    component-based CSS, so these utilities are much more sparse then something like TailWind or Tachyons.
  </p>
  <h2>Space</h2>
  <p class="mbe24">AgnosticUI uses logical properties. Put differently, <i>margin</i> and <i>padding</i> applied is
    implemented
    to respect the writing mode. Basically, this means that if <i>margin-inline-start: 1rem</i> is applied, the CSS
    margin
    will behave as though a &ldquo;left margin&rdquo; was applied normally, but if the writing mode at runtime
    is <i>rtl</i> that margin will now be placed to the right instead. The idea is instead of thinking of top, right,
    bottom, left,
    we start to think of block start and end, and inline start and end. See the article
    <a href="https://dbushell.com/2021/02/02/changing-css-for-good-logical-properties-and-values/">Changing CSS for
      Good</a> to see some more examples.
  </p>

  <ul class="mbe24">
    <li><i>.mN</i> — supplies margins on all sides e.g. <i>m16</i> will supply the fluid equivalent of 16 pixels on all
      sides</li>
    <li><i>.misN</i> — supplies margin to the inline start e.g. <i>mis16</i> will supply the fluid equivalent of 16
      pixels to the inline start</li>
    <li><i>.mieN</i> — supplies margin to the inline end e.g. <i>mie16</i> will supply the fluid equivalent of 16 pixels
      to the inline end</li>
    <li><i>.mbsN</i> — supplies margin to the block start e.g. <i>mbs16</i> will supply the fluid equivalent of 16
      pixels to the block start</li>
    <li><i>.mbeN</i> — supplies margin to the inline end e.g. <i>mbe16</i> will supply the fluid equivalent of 16 pixels
      to the block end</li>
  </ul>
  <p class="mbe24">The same rules above for margin apply for padding as well.</p>
  <h2>Text</h2>
  <ul class="mbe24">
    <li><i>.text-uppercase</i> — applies transform to uppercase text</li>
    <li><i>.text-lowercase</i> — applies transform to lowercase text</li>
    <li><i>.text-capitalize</i> — applies transform to capitalize text</li>
  </ul>
  <h2>Width</h2>
  <ul class="mbe24">
    <li><i>.w-100</i> — sets the width to 100%</li>
  </ul>
  <h2>A11y</h2>
  <ul class="mbe24">
    <li><i>.screenreader-only</i> — visually hides text for sighted users while preserving for screenreaders</li>
  </ul>

</section>
