<div class="table-responsive mbe24">
  <table class="table {{modifiers}}">
    <caption class="{{captionModifiers}}">Tennis Superstars</caption>
    <thead>
      <tr>
        <th scope="col">
          <div class="table-header-container">
            <span class="table-sort-label">Id</span>
            <button type="button"
                    class="table-sort">
              <span class="screenreader-only">Id</span>
              <span class="icon-sort icon-sort-ascending"></span>
            </button>
          </div>
        </th>
        <th scope="col">
          <div class="table-header-container">
            <span class="table-sort-label">Name</span>
            <button type="button"
                    class="table-sort">
              <span class="screenreader-only">Name</span>
              <span class="icon-sort"></span>
            </button>
          </div>
        </th>
        <th aria-sort="none" scope="col">Weapon</th>
        <th scope="col">
          <div class="table-header-container">
            <span class="table-sort-label">Grand Slams</span>
            <button type="button"
                    class="table-sort">
              <span class="screenreader-only">Grand Slams</span>
              <span class="icon-sort icon-sort-descending"></span>
              </svg>
            </button>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Serena Williams</td>
        <td>Biggest serve in women's tennis all-time</td>
        <td>23</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Roger Federer</td>
        <td>Forehand and Serve</td>
        <td>20</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Novak Djokovic</td>
        <td>Backhand and speed</td>
        <td>20</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Martina Navratilova</td>
        <td>Serve and volley</td>
        <td>18</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Andre Agassi (* honorable mention)</td>
        <td>Return of serve. Groundstrokes</td>
        <td>8</td>
      </tr>
    </tbody>
  </table>
</div>
