<div class="table-responsive mbe24">
  <table class="table {{modifiers}}">
    <caption class="{{captionModifiers}}">Tennis Superstars</caption>
    <thead>
      <tr>
        {{!-- When sorted in ascending we provide aria-sort="ascending" --}}
        <th aria-sort="ascending" scope="col">
          <div class="table-header-container">
            <span class="table-sort-label">Id</span>
            <button type="button"
                    class="table-sort">
              <span class="screenreader-only">Id</span>
              <span class="icon-sort icon-sort-ascending">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-sort" viewBox="0 0 20 20" width="20" height="20"><path d="m9.221 6.365-4.963 5.86c-.586.693-.11 1.775.78 1.775h9.926c.2 0 .394-.059.561-.17.168-.111.3-.27.383-.457a1.102 1.102 0 0 0-.165-1.147l-4.963-5.86a1.04 1.04 0 0 0-.351-.27 1.007 1.007 0 0 0-1.208.27v-.001Z" fill="currentColor"/></svg>
              </span>
            </button>
          </div>
        </th>
        {{!-- No sorting has been applied (but is available) --}}
        <th aria-sort="none" scope="col">
          <div class="table-header-container">
            <span class="table-sort-label">Name</span>
            <button type="button"
                    class="table-sort">
              <span class="screenreader-only">Name</span>
              <span class="icon-sort">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-sort" fill="none" viewBox="0 0 20 20" width="20" height="20"><path d="m15 13-5 5-5-5M5 7l5-5 5 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
              </span>
            </button>
          </div>
        </th>
        {{!-- No sorting is offered so we don't use aria-sort at all --}}
        <th scope="col">Weapon</th>

        {{!-- When sorted in descending we provide aria-sort="descending" --}}
        <th aria-sort="descending" scope="col">
          <div class="table-header-container">
            <span class="table-sort-label">Grand Slams</span>
            <button type="button"
                    class="table-sort">
              <span class="screenreader-only">Grand Slams</span>
              <span class="icon-sort icon-sort-descending">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-sort" viewBox="0 0 20 20" width="20" height="20"><path d="m10.778 13.635 4.964-5.86c.586-.693.11-1.775-.78-1.775H5.037a1.01 1.01 0 0 0-.561.17c-.168.111-.3.27-.382.457a1.102 1.102 0 0 0 .164 1.147l4.963 5.86a1.006 1.006 0 0 0 1.559 0v.001Z" fill="currentColor"/></svg>
              </span>
              </svg>
            </button>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Serena Williams</td>
        <td>Biggest serve in women's tennis all-time</td>
        <td>23</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Roger Federer</td>
        <td>Forehand and Serve</td>
        <td>20</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Novak Djokovic</td>
        <td>Backhand and speed</td>
        <td>20</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Martina Navratilova</td>
        <td>Serve and volley</td>
        <td>18</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Andre Agassi (* honorable mention)</td>
        <td>Return of serve. Groundstrokes</td>
        <td>8</td>
      </tr>
    </tbody>
  </table>
</div>
