<div class="table-responsive">
  <table class="table {{modifiers}}">
    <caption class="caption-top">Tennis Superstars</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Weapon</th>
        <th scope="col">Majors</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"
            class="table-active">Serena Williams</th>
        <td>Biggest serve in women's tennis all-time</td>
        <td>23</td>
      </tr>
      <tr>
        <th scope="row">Martina Navratilova/th>
        <td>Serve and volley</td>
        <td>18</td>
      </tr>
      <tr>
        <th scope="row">Roger Federer/th>
        <td class="table-active">Forehand and Serve</td>
        <td>20</td>
      </tr>
      <tr>
        <th scope="row">Novak Djokovic</th>
        <td>Backhand and speed</td>
        <td>20</td>
      </tr>
      <tr>
        <th scope="row">Andre Agassi (* honorable mention)</th>
        <td>Return of serve. Groundstrokes</td>
        <td>8</td>
      </tr>
    </tbody>
  </table>
</div>
