<div class="table-responsive">
  <table class="table table-stacked">
    <caption class="{{captionModifiers}}">Tennis Superstars</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Weapon</th>
        <th scope="col">Majors</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"
            data-label="Name">Serena Williams</th>
        <td data-label="Weapon">Biggest serve in women's tennis all-time</td>
        <td data-label="Majors">23</td>
      </tr>
      <tr>
        <th scope="row"
            data-label="Name">Martina Navratilova</th>
        <td data-label="Weapon">Serve and volley</td>
        <td data-label="Majors">18</td>
      </tr>
      <tr>
        <th scope="row"
            data-label="Name">Roger Federer</th>
        <td data-label="Weapon">Forehand and Serve</td>
        <td data-label="Majors">20</td>
      </tr>
      <tr>
        <th scope="row"
            data-label="Name">Novak Djokovic</th>
        <td data-label="Weapon">Backhand and speed</td>
        <td data-label="Majors">20</td>
      </tr>
      <tr>
        <th scope="row"
            data-label="Name">Andre Agassi (* honorable mention)</th>
        <td data-label="Weapon">Return of serve. Groundstrokes</td>
        <td data-label="Majors">8</td>
      </tr>
    </tbody>
  </table>
</div>
