:root {
	font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
}

html {
  /* Remove for this curated layout (from opinions.css) */
  scrollbar-gutter: unset;
}

.layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: minmax(20rem, 33%) 1fr;
  gap: var(--fluid-16);
}

.left {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  /* #87a898 is lifted off the pagoda illustration */
  border-left: var(--fluid-14) solid #87a898;
}

.logo {
  margin-inline-start: var(--fluid-12);
}

.signup {
  place-self: center;
  width: 75%;
}

.right,
.full-bleed {
  min-height: 100%;
  max-height: 100%;
}

.full-bleed {
  width: 100%;
  object-fit: cover;
}
