/**
 * Color tokens
 */
 :root {
  --agnostic-focus-ring-color: rgba(55, 149, 225, 0.5);
  --agnostic-focus-ring-outline-width: 3px;
  --agnostic-focus-ring-outline-style: solid;
  --agnostic-focus-ring-outline-color: transparent
 }
