.cards {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}

.cards > div {
  flex: 1;
}

.cards > div:not(:last-child) {
  margin-inline-end: var(--fluid-24);
}
.cards > div {
  margin-block-end: var(--fluid-24);
}

.types {
  font-size: var(--agnosticui-h5);
  text-transform: uppercase;
  margin-block-end: var(--fluid-24);
  margin-block-start: var(--fluid-80);
}

.cardbody,
.cardheader {
  width: 100%;
}
.cardheader {
  background-color: var(--agnosticui-gray-light-warm);
  border: 1px solid var(--agnosticui-gray-mid);
  padding: var(--fluid-8) 0;
  text-align: center;
}
.cardheader > h6 {
  text-transform: uppercase;
}
.cardbody {
  background: white;
  min-height: 157px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: var(--agnosticui-h5);
  margin-block-end: 0;
}
