---
import AgButton from 'agnostic-astro/Button';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
    <AgButton mode="primary" isRounded isBordered>Astro Bordered Primary Button</AgButton>
    <AgButton mode="secondary" isCapsule>Astro Capsule Secondary Button</AgButton>
	</body>
</html>
