<section>
  <h3>Circle</h3>
  <div class="row">
    <button class="btn btn-primary btn-bordered btn-circle btn-circle-small">Go</button>
    <button class="btn btn-primary btn-circle">Go</button>
    <button class="btn btn-primary btn-bordered btn-circle btn-circle-large">Go</button>
  </div>
</section>
