<section>
  <div class="btn-group"
       role="group"
       aria-label="Button group example">
    <button class="btn btn-primary btn-bordered">Fancy</button>
    <button class="btn btn-primary btn-bordered">
      Normal
    </button>
  </div>
</section>
