<section class="mbe40">
  <div>
    <h3>Block (Stacked)</h3>
    <button class="btn btn-block btn-bordered mbe12">Go</button>
    <button class="btn btn-block btn-secondary mbe12">Go</button>
    <button class="btn btn-block btn-primary mbe12">Go</button>
  </div>
</section>
