<section>
  <div>
    <h3>Block (Stacked)</h3>
    <button class="btn btn-block btn-bordered">Go</button>
    <button class="btn btn-block btn-secondary">Go</button>
    <button class="btn btn-block btn-primary">Go</button>
  </div>
</section>
