.btn {
  composes: btn from './button.css';
}
.btnBase {
  /* Note: .btn is same as .btn-base + .btn-skin -- so this is a means for
  folks to "opt-out" of skinned buttons should they want full skinning control. */
  composes: btn-base from './button.css';
}
.primary {
  composes: btn-primary from './button.css';
}
.secondary {
  composes: btn-secondary from './button.css';
}
.block {
  composes: btn-block from './button.css';
}
.group {
  composes: btn-group from './button-group.css';
}
.raised {
  composes: btn-raised from './button.css';
}
.circle {
  composes: btn-circle from './button.css';
}
.rounded {
  composes: btn-rounded from './button.css';
}
.grouped {
  composes: btn-grouped from './button.css';
}
.bordered {
  composes: btn-bordered from './button.css';
}
.small {
  composes: btn-small from './button.css';
}
.large {
  composes: btn-large from './button.css';
}
.blank {
  composes: btn-blank from './button.css';
}
.link {
  composes: btn-link from './button.css';
}
.iconLeft {
  composes: btn-icon-left from './button.css';
}
.iconRight {
  composes: btn-icon-right from './button.css';
}
.disabled {
  composes: disabled from './button.css';
}
