.dialog {
  composes: dialog from './dialog.css';
}

.dialogOverlay {
  composes: dialog-overlay from './dialog.css';
}

.dialogContent {
  composes: dialog-content from './dialog.css';
}

.dialogCloseUpperRight {
  composes: dialog-close from './dialog.css';
}

.dialogFadeIn {
  composes: dialog-fade-in from './dialog.css';
}

.dialogSlideUp {
 composes: dialog-slide-up from './dialog.css';
}

.dialogSlideUpFadeIn {
  composes: dialog-slide-up-fade-in from './dialog.css';
}

/* DRAWER MODULES */
.drawerStart {
  composes: drawer-start from './drawer.css';
}

.drawerEnd {
  composes: drawer-end from './drawer.css';
}

.drawerTop {
  composes: drawer-top from './drawer.css';
}

.drawerBottom {
  composes: drawer-bottom from './drawer.css';
}

.drawerContent {
  composes: drawer-content from './drawer.css';

}
