/**
 * Cards
 *
 * I drew some inspiration from the article on media-query less cards:
 * https://css-tricks.com/how-to-make-a-media-query-less-card-component/
 */
.card,
.card-base {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.card,
.card-skin {
  box-shadow: var(--agnosticui-card-boxshadow1-offset-x, 2px)
      var(--agnosticui-card-boxshadow1-offset-y, 6px)
      var(--agnosticui-card-boxshadow1-blur, 4px)
      var(--agnosticui-card-boxshadow1-color, rgba(0, 0, 0, 0.25)),
    var(--agnosticui-card-boxshadow2-offset-x, -2px)
      var(--agnosticui-card-boxshadow2-offset-y, -1px)
      var(--agnosticui-card-boxshadow2-blur, 6px)
      var(--agnosticui-card-boxshadow2-color, rgba(0, 0, 0, 0.15));
  border-radius: var(--agnosticui-card-border-radius, 4px);
  overflow: hidden;
}

.card:hover,
.card-skin:hover {
  box-shadow: var(--agnosticui-card-boxshadow1-offset-x, 2px)
      var(--agnosticui-card-boxshadow1-offset-y, 6px)
      var(--agnosticui-card-boxshadow1-blur, 4px)
      var(--agnosticui-card-boxshadow-hover-color-from, rgba(0, 0, 0, 0.35)),
    var(--agnosticui-card-boxshadow2-offset-x, -2px)
      var(--agnosticui-card-boxshadow2-offset-y, -1px)
      var(--agnosticui-card-boxshadow2-blur, 6px)
      var(--agnosticui-card-boxshadow-hover-color-to, rgba(0, 0, 0, 0.25));
}

/**
 * Animates the y position and box shadow on hover
 */
.card-animated {
  transition: box-shadow ease-out 5s,
    transform var(--agnosticui-timing-fast)
      cubic-bezier(
        var(--agnosticui-card-cubic-1, 0.39),
        var(--agnosticui-card-cubic-2, 0.575),
        var(--agnosticui-card-cubic-3, 0.565),
        var(--agnosticui-card-cubic-4, 1)
      );
}
.card-animated:hover {
  transform: translateY(var(--agnosticui-card-translateY-hover, -3px));
  transition: box-shadow ease-out var(--agnosticui-timing-fast),
    transform var(--agnosticui-timing-slow)
      cubic-bezier(
        var(--agnosticui-card-cubic-1, 0.39),
        var(--agnosticui-card-cubic-2, 0.575),
        var(--agnosticui-card-cubic-3, 0.565),
        var(--agnosticui-card-cubic-4, 1)
      );
}

.card-stacked {
  flex-direction: column;
}
