body {
  padding-block-start: 2rem;
  padding-block-end: 2rem;
  min-height: 100vh;
  display: grid;
  justify-items: center;
}

main {
  width: clamp(26ch, 50%, 80ch);
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--fluid-16);
}

/* For example code snippets */
pre {
  padding: var(--fluid-12) var(--fluid-14);
  background-color: #2c323b !important;
  border-radius: var(--fluid-2);
  font-size: var(--agnostic-small);
  font-family: var(--agnostic-font-family-mono);
}

.tweet {
  background-color: rgb(29, 155, 240) !important;
  width: 250px;
}
