<article class="card card-row-demo {{ modifier }}">
  <div class="card-image-wrap">
    <img src="https://via.placeholder.com/2000x1000?text=Really+Big+Image"
         alt="Image placeholder image for testing responsiveness" />
  </div>
  <div class="card-content">
    <h1 class="card-title"><a href="#">{{ _self.title }}</a></h1>

    <p class="card-metadata">
      <span class="card-rating">★★★★<span>☆</span></span>
      <span class="card-votes">(1234 votes)</span>
    </p>

    <p class="card-desc">{{ description }}</p>

    <button class="btn btn-primary"
            type="submit">Do Something</button>
  </div>
</article>
