<article class="card card-row-demo {{ modifier }}">
  <div class="card-image-wrap">
    <img src="https://via.placeholder.com/2000x1000?text=Really+Big+Image"
         alt="Image placeholder image for testing responsiveness" />
  </div>
  <div class="card-content">
    <h1 class="card-title"><a href="#">{{ _self.title }}</a></h1>

    <p class="card-metadata">
      <span class="card-rating">★★★★<span>☆</span></span>
      <span class="card-votes">(1234 votes)</span>
    </p>

    <p class="card-desc">
      This card is essentially a row-based horizontal layout as the image is on the left and
      the body of the card (where you're reading now!) is on the right. If the viewport
      narrows enough though, it becomes a stacked card at that point. If you want the card to
      always be stacked, see the example below which applies the appropriate stacked card
      class.
    </p>

    <button class="btn btn-primary"
            type="submit">Do Something</button>
  </div>
</article>
