<article class="card {{ modifier }} items-stretch mbe32">
  <div class="card-demo-image-wrap mie40">
    <img src="https://via.placeholder.com/1000x1000?text=Really+Big+Image"
         alt="Image placeholder image for testing responsiveness" />
  </div>
  <div class="card-demo-content pbs32 pbe32 pis32 pie32">
    <h1 class="card-demo-title"><a href="#">{{ _self.title }}</a></h1>

    <p class="card-demo-metadata">
      <span class="card-demo-rating">★★★★<span>☆</span></span>
      <span class="card-demo-votes">(1234 votes)</span>
    </p>

    <p class="card-demo-desc mbe24">{{ description }}</p>

    <button class="btn btn-primary"
            type="submit">Do Something</button>
  </div>
</article>
