[production]
last 2 versions and > 2%
last 2 versions
Firefox ESR
not dead
not IE 11
maintained node versions
not op_mini all

[development]
last 1 chrome version
last 1 firefox version
last 1 safari version

[ssr]
maintained node versions
