.headerBase {
  composes: header-base from './header.css';
}

.header {
  composes: header from './header.css';
}

.headerContent {
  composes: header-content from './header.css';
}

.sticky {
  composes: header-sticky from './header.css';
}

.headerNav {
  composes: header-nav from './headernav.css';
}

.headerNavItem {
  composes: header-nav-item from './headernavitem.css';
}
