<article>
	<section class="mbe40">
		<h2>👀 Astro + AgnosticUI + Vest == 🚀</h2>
    <p class="valueprop"><a href="http://agnosticui.com/" target="_blank">AgnosticUI</a> — 1 branded theme works across all your favorite frameworks 🎉 </p>
	</section>
</article>
<style>
	section {
		margin-top: var(--fluid-56);
	}
</style>
