<article>
	<section class="mbe40">
		<h2>👀 Astro + AgnosticUI == 🚀</h2>
    <p class="valueprop"><a href="http://agnosticui.com/" target="_blank">AgnosticUI</a> — 1 branded theme works across all your favorite frameworks 🎉 </p>
	</section>
  <h1>Warning! This page uses heavy animation which may induce vestibular disorder and other motion related reactions.</h1>
  <p style="margin-block-end: 1000px;">If you'd still like to view, scroll down <code>1000px</code> to see the loader animations</p>
</article>
<style>
	section {
		margin-top: var(--fluid-56);
	}
</style>
