.screenreader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.w-100 {
  width: 100% !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-center {
  text-align: center !important;
}

.h1 {
  font-size: var(--agnostic-h1);
}

.h2 {
  font-size: var(--agnostic-h2);
}

.h3 {
  font-size: var(--agnostic-h3);
}

.h4 {
  font-size: var(--agnostic-h4);
}

.h5 {
  font-size: var(--agnostic-h5);
}

.h6 {
  font-size: var(--agnostic-h6);
}
