/* Most of the rest of this radio input customization is my personal adaptations
on Heydon Pickering's radio from inclusive components book example */
:root {
  --agnosticui-checkbox-small-size: 0.625rem;
  /* --agnosticui-checkbox-large-size: 0.875rem; */
}

.radio-group {
  border: 1px solid var(--agnosticui-checkbox-border-color, var(--agnosticui-dark));
  padding: calc(2 * var(--agnosticui-checkbox-size, 0.75rem));
  padding-top: var(--agnosticui-checkbox-size, 0.75rem);
  border-radius: 0.5rem;
}

.radio-group-large {
  padding: calc(2 * var(--agnosticui-checkbox-large-size, 0.875rem));
  padding-top: var(--agnosticui-checkbox-large-size, 0.875rem);
}

.radio-legend {
  padding: var(--agnosticui-checkbox-border-size, 0.125rem) var(--agnosticui-checkbox-size, 0.75rem);
  border-radius: var(--agnosticui-checkbox-border-size, 0.125rem);
} 

/* Hiding technique from https://www.sarasoueidan.com/blog/inclusively-hiding-and-styling-checkboxes-and-radio-buttons/
*/
.checkbox,
.radio {
  position: absolute; 
  width: var(--agnosticui-checkbox-size, 0.75rem);
  height: var(--agnosticui-checkbox-size, 0.75rem);
  opacity: 0;
}

.checkbox-small,
.radio-small {
  width: var(--agnosticui-checkbox-small-size, 0.625rem);
  height: var(--agnosticui-checkbox-small-size, 0.625rem);
}

.checkbox-large,
.radio-large {
  width: var(--agnosticui-checkbox-large-size, 0.875rem);
  height: var(--agnosticui-checkbox-large-size, 0.875rem);
}

.checkbox-label-wrap,
.radio-label-wrap {
  display: block;
  cursor: pointer;
  user-select: none;
  position: relative;
  line-height: calc(3 * var(--agnosticui-checkbox-size, 0.75rem));
}

.checkbox-label,
.radio-label {
  display: flex;
  align-items: center;
  /* display: block; */
}

/* The checkmark itself */
.checkbox-label:after {
  content: "";
  position: absolute;
  left: 0.375rem;
  top: .625rem;
  /* 5w x 11h */
  width: 0.3125rem;
  height: 0.6875rem; 
  border: solid white;
  border-width: 0 var(--agnosticui-checkbox-border-size, 0.125rem) var(--agnosticui-checkbox-border-size, 0.125rem) 0;
  transform-origin: center center;
  transform: rotate(40deg) scale(0);
  transition-property: border, background-color, transform;
  transition-duration: var(--agnosticui-timing-fast);
  transition-timing-function: ease-in-out;
}
.checkbox-label:before,
.radio-label:before {
  content: '';
  display: inline-block;
  margin-inline-end: var(--agnosticui-checkbox-spacing-end, 0.75rem);
  transition: 0.5s ease all;
}

/* Since we build up the radio size outwardly, it's naturally larger then the checkboxes
so we add a multiplyer to even those out initially */
.checkbox-label:before {
  border: 2px solid var(--agnosticui-checkbox-border-color, var(--agnosticui-dark));
  width: calc(1.25 * var(--agnosticui-checkbox-size, 0.75rem));
  height: calc(1.25 * var(--agnosticui-checkbox-size, 0.75rem));
}

.radio-label:before {
  width: var(--agnosticui-checkbox-size, 0.75rem);
  height: var(--agnosticui-checkbox-size, 0.75rem);
  vertical-align: calc(-1 * var(--agnosticui-checkbox-border-size, 0.125rem));
  border-radius: 50%;
  border: var(--agnosticui-checkbox-border-size, 0.125rem) solid var(--agnosticui-checkbox-light, var(--agnosticui-light));
  box-shadow: 0 0 0 var(--agnosticui-checkbox-box-shadow-size, 0.125rem) var(--agnosticui-checkbox-border-color, var(--agnosticui-dark));
}


.radio-label-small:before {
  width: var(--agnosticui-checkbox-small-size, 0.625rem);
  height: var(--agnosticui-checkbox-small-size, 0.625rem);
}

.radio-label-large:before {
  width: var(--agnosticui-checkbox-large-size, 0.875rem);
  height: var(--agnosticui-checkbox-large-size, 0.875rem);
}


/* the checked style using the :checked pseudo class */
.radio:checked + .radio-label:before {
  background: var(--agnosticui-checkbox-fill-color, #08a880);
  box-shadow: 0 0 0 var(--agnosticui-checkbox-border-size, 0.125rem) var(--agnosticui-checkbox-border-color, var(--agnosticui-dark));
}

.radio:focus + .radio-label:before {
  box-shadow: 0 0 0 var(--agnosticui-checkbox-border-size, 0.125rem) var(--agnosticui-checkbox-border-color, var(--agnosticui-dark)),
    0 0 0 calc(1.5 * var(--agnosticui-checkbox-border-size, 0.125rem)) white,
    0 0 0 calc(2.25 * var(--agnosticui-checkbox-border-size, 0.125rem)) var(--agnosticui-focus-ring-color);
  transition: box-shadow var(--agnosticui-timing-fast) ease-out;
}

/*

.btn:focus {
  box-shadow: 0 0 0 3px var(--agnosticui-focus-ring-color);
  outline: 3px solid transparent;
  transition: box-shadow var(--agnosticui-timing-fast) ease-out;
}
*/
.checkbox:focus + .checkbox-label:before {
  box-shadow: 0 0 0 3px var(--agnosticui-focus-ring-color);
  outline: 3px solid transparent;
  transition: box-shadow var(--agnosticui-timing-fast) ease-out;
}

.checkbox:checked + .checkbox-label:after {
  transform: rotate(40deg) scale(1);
}
.checkbox:checked + .checkbox-label:before {
  background: var(--agnosticui-checkbox-fill-color, #08a880);
  border: 2px solid var(--agnosticui-checkbox-fill-color, #08a880);
}

/**
 * Consumer styles <legend> themselves, and can opt to use the .screenreader-only from
 * utilities.css if they're design requires it.
 */
.radio-group-hidden {
  border: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
}
