:root {
  /* Please, please, please, at mimimum redefine primary and secondary ;) */
  --agnostic-default-primary: Fuchsia;
  --agnostic-default-secondary: Teal;
  --agnostic-default-gray-extra-light: #f8f8f8;
  --agnostic-default-gray-light: #e9e9e9;
  --agnostic-default-gray-mid: #d8d8d8;
  --agnostic-default-gray-mid-dark: #cccccc;
  --agnostic-default-gray-dark: #aaaaaa;
  --agnostic-default-dark: #333333;
  --agnostic-default-light: #ffffff;
}
