 /* https://stackoverflow.com/questions/45507970/how-can-i-change-the-color-of-a-progress-bar-value-in-html */
/**
 * Most examples show styling directly to the <progress> element itself. However,
 * my tests (chrome, ff, safari on mac mini 2020), showed it's perfectly possibly
 * to use a class selector instead. The reason I'd prefer that here, is that I can
 * then use CSS Modules composes against .progress (e.g. for React/Vue components)
 */
.progress {
  -webkit-appearance: none;
  height: var(--agnosticui-progress-height, 10px);
  width: 100%;
  border: none;
  /* Next couple of rules are required to be here for FF (but not chrome) */
  background-color: var(--agnosticui-progress-background, #ededed);
  border-radius: var(--agnosticui-progress-radius, 10px);
}

.progress[value]::-webkit-progress-bar {
  /* In my tests chrome requires this whereas FF wants it on the progress {} rule */
  background-color: var(--agnosticui-progress-background, #ededed);
  border-radius: var(--agnosticui-progress-radius, 10px);
}

.progress[value]::-webkit-progress-value {
  background-color: var(--agnosticui-progress-fill-color, #1087db);
  border-radius: var(--agnosticui-progress-radius, 10px);
}

.progress[value]::-moz-progress-bar {
  background-color: var(--agnosticui-progress-fill-color, #1087db);
  border-radius: var(--agnosticui-progress-radius, 10px);
}

.progress[value]::-ms-fill {
  background-color: var(--agnosticui-progress-fill-color, #1087db);
  border-radius: var(--agnosticui-progress-radius, 10px);
}