/* Most of the rest of this radio input customization is my personal adaptations
on Heydon Pickering's radio from inclusive components book example */
:root {
  --agnosticui-checkbox-small-size: 0.625rem;
  /* --agnosticui-checkbox-large-size: 0.875rem; */
}

.radio-group {
  border: 1px solid var(--agnosticui-checkbox-border-color, var(--agnosticui-dark));
  padding: calc(2 * var(--agnosticui-checkbox-size, 0.75rem));
  padding-top: var(--agnosticui-checkbox-size, 0.75rem);
  border-radius: 0.5rem;
}

.radio-group-large {
  padding: calc(2 * var(--agnosticui-checkbox-large-size, 0.875rem));
  padding-top: var(--agnosticui-checkbox-large-size, 0.875rem);
}

.radio-legend {
  padding: var(--agnosticui-checkbox-border-size, 0.125rem) var(--agnosticui-checkbox-size, 0.75rem);
  border-radius: var(--agnosticui-checkbox-border-size, 0.125rem);
} 

/* Hiding technique from https://www.sarasoueidan.com/blog/inclusively-hiding-and-styling-checkboxes-and-radio-buttons/
*/
.radio {
  position: absolute; 
  width: var(--agnosticui-checkbox-size, 0.75rem);
  height: var(--agnosticui-checkbox-size, 0.75rem);
  opacity: 0;
}

.radio-small {
  width: var(--agnosticui-checkbox-small-size, 0.625rem);
  height: var(--agnosticui-checkbox-small-size, 0.625rem);
}

.radio-large {
  width: var(--agnosticui-checkbox-large-size, 0.875rem);
  height: var(--agnosticui-checkbox-large-size, 0.875rem);
}

.radio-label-wrap {
  display: block;
  cursor: pointer;
  line-height: calc(3 * var(--agnosticui-checkbox-size, 0.75rem));
}

.radio-label {
  display: block;
}

.radio-label:before {
  content: '';
  display: inline-block;
  width: var(--agnosticui-checkbox-size, 0.75rem);
  height: var(--agnosticui-checkbox-size, 0.75rem);
  vertical-align: calc(-1 * var(--agnosticui-checkbox-border-size, 0.125rem));
  border-radius: 50%;
  border: var(--agnosticui-checkbox-border-size, 0.125rem) solid var(--agnosticui-checkbox-light, var(--agnosticui-light));
  box-shadow: 0 0 0 var(--agnosticui-checkbox-box-shadow-size, 0.125rem) var(--agnosticui-checkbox-border-color, var(--agnosticui-dark));
  margin-inline-end: var(--agnosticui-checkbox-spacing-end, 0.75rem);
  transition: 0.5s ease all;
}

.radio-label-small:before {
  width: var(--agnosticui-checkbox-small-size, 0.625rem);
  height: var(--agnosticui-checkbox-small-size, 0.625rem);
}

.radio-label-large:before {
  width: var(--agnosticui-checkbox-large-size, 0.875rem);
  height: var(--agnosticui-checkbox-large-size, 0.875rem);
}

/* the checked style using the :checked pseudo class */
.radio:checked + .radio-label:before {
  background: var(--agnosticui-checkbox-fill-color, #08a880);
  box-shadow: 0 0 0 var(--agnosticui-checkbox-border-size, 0.125rem) var(--agnosticui-checkbox-border-color, var(--agnosticui-dark));
}

.radio:focus + .radio-label:before {
  box-shadow: 0 0 0 var(--agnosticui-checkbox-border-size, 0.125rem) var(--agnosticui-checkbox-border-color, var(--agnosticui-dark)),
    0 0 0 calc(1.5 * var(--agnosticui-checkbox-border-size, 0.125rem)) white,
    0 0 0 calc(2.25 * var(--agnosticui-checkbox-border-size, 0.125rem)) var(--agnosticui-focus-ring-color);
  transition: box-shadow var(--agnosticui-timing-fast) ease-out;
}

/**
 * Consumer styles <legend> themselves, and can opt to use the .screenreader-only from
 * utilities.css if they're design requires it.
 */
.radio-group-hidden {
  border: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
}
