/**
 * Space tokens
 *
 * These spacing tokens are, essentially, literals for use on a
 * slightly modified 8pt grid, but also converge conveniently with
 * some common type scale boundaries:
 * 10, 12, 14, 18, 24, 36, 48, 64, 72
 * Note, that we do not prefix these with `agnostic-default-` as
 * they're not meant to be overriden and mainly used:
 * 1. internally within AgnosticUI
 * 2. optionally by your app if you like these and want to
 * import them for example.
 * Feel free to use your spacing scale if you so desire.
 */
:root {
  /* DEPRECATED: We're going to move towards using rem-based units */
  --Space-80: 80px;
  --Space-72: 72px;
  --Space-64: 64px;
  --Space-56: 56px;
  --Space-48: 48px;
  --Space-40: 40px;
  --Space-32: 32px;
  --Space-24: 24px;
  --Space-16: 16px;
  --Space-14: 14px;
  --Space-12: 12px;
  --Space-10: 10px;
  --Space-8: 8px;
  --Space-6: 6px;
  --Space-4: 4px;

  /* Rem-based sizes named by their initial pixel value assuming 1 rem is 16px */
  --fluid-2px: 0.125rem;
  --fluid-4px: 0.25rem;
  --fluid-6px: 0.375rem;
  --fluid-8px: 0.5rem;
  --fluid-10px: 0.625rem;
  --fluid-12px: 0.75rem;
  --fluid-14px: 0.875rem;
  --fluid-16px: 1rem;
  --fluid-18px: 1.125rem;
  --fluid-20px: 1.25rem;
  --fluid-24px: 1.5rem;
  --fluid-32px: 2rem;
  --fluid-36px: 2.25rem;
  --fluid-40px: 2.5rem;
  --fluid-48px: 3rem;
  --fluid-56px: 3.5rem;
  --fluid-64px: 4rem;
  --fluid-72px: 4.5rem;
  --fluid-80px: 5rem;
  
  /* Note this is really for form controls like inputs and buttons */
  --agnosticui-line-height: var(--fluid-20px);
  --agnosticui-side-padding: var(--fluid-12px);
  --agnosticui-vertical-pad: var(--fluid-8px);
}
