/**
 * Font size tokens
 * These are perhaps a bit arbitrary but were chosen from both the
 * default point sizes for type in OS X, and the classic typographic
 * scale as provided by The Elements of Typographic Style which are:
 * 9, 10, 11, 12, 13, 14, 18, 24, 36, 48, (alt. 60) 64, 72, 96, 144, 288
 * 
 * You're encouraged to change these setttings to whatever suits your app's needs
 * best—these are just sensible defaults to get you started.
 */

:root {
  --agnosticui-default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Ubuntu", "Fira Sans", Helvetica, "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --agnosticui-default-font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --agnosticui-default-font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --agnosticui-default-line-height: 1.5;
  --agnosticui-default-h1: 64px;
  --agnosticui-default-h2: 48px;
  --agnosticui-default-h3: 36px;
  --agnosticui-default-h4: 24px;
  --agnosticui-default-h5: 18px;
  --agnosticui-default-h6: 14px;
  --agnosticui-default-body: 16px;
  --agnosticui-default-font-weight-bold: 600;
  --agnosticui-default-font-weight-light: 300;


  /* Reset per overrides */
  --agnosticui-font-family: var(--agnosticui-font-family, var(--agnosticui-default-font-family));
  --agnosticui-font-family-serif: var(--agnosticui-font-family-serif, var(--agnosticui-default-font-family-serif));
  --agnosticui-font-family-mono: var(--agnosticui-font-family-mono, var(--agnosticui-default-font-family-mono));
  --agnosticui-line-height: var(--agnosticui-line-height, var(--agnosticui-default-line-height));
  --agnosticui-h1: var(--agnosticui-h1, var(--agnosticui-default-h1));
  --agnosticui-h2: var(--agnosticui-h2, var(--agnosticui-default-h2));
  --agnosticui-h3: var(--agnosticui-h3, var(--agnosticui-default-h3));
  --agnosticui-h4: var(--agnosticui-h4, var(--agnosticui-default-h4));
  --agnosticui-h5: var(--agnosticui-h5, var(--agnosticui-default-h5));
  --agnosticui-h6: var(--agnosticui-h6, var(--agnosticui-default-h6));
  --agnosticui-body: var(--agnosticui-body, var(--agnosticui-default-body));
  --agnosticui-font-weight-bold: var(--agnosticui-font-weight-bold, var(--agnosticui-default-font-weight-bold));
  --agnosticui-font-weight-light: var(--agnosticui-font-weight-light, var(--agnosticui-default-font-weight-light));
}
