/**
 * Font size tokens
 * These are perhaps a bit arbitrary but were chosen from both the
 * default point sizes for type in OS X, and the classic typographic
 * scale as provided by The Elements of Typographic Style which are:
 * 9, 10, 11, 12, 13, 14, 18, 24, 36, 48, (alt. 60) 64, 72, 96, 144, 288
 * 
 * You're encouraged to change these setttings to whatever suits your app's needs
 * best—these are just sensible defaults to get you started.
 */

:root {
  --agnosticui-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Ubuntu", "Fira Sans", Helvetica, "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --agnosticui-font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --agnosticui-font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --agnosticui-line-height: 1.5;
  --agnosticui-h1: 64px;
  --agnosticui-h2: 48px;
  --agnosticui-h3: 36px;
  --agnosticui-h4: 24px;
  --agnosticui-h5: 18px;
  --agnosticui-h6: 14px;
  --agnosticui-body: 16px;
  --agnosticui-font-weight-bold: 600;
  --agnosticui-font-weight-light: 300;
  --agnosticui-font-color: #333333;
}
