/**
 * Color tokens
 */
:root {
  --agnosticui-primary: #077acb;
  /* from / to are used for gradients and things like raised buttons */
  --agnosticui-primary-from: #0662a2;
  --agnosticui-primary-to: #2087d0;
  --agnosticui-primary-hover: #2087d0;
  --agnosticui-secondary: #c94d2b;
  --agnosticui-secondary-from: #a33e23;
  --agnosticui-secondary-to: #bc583d;
  --agnosticui-secondary-hover: #bc583d;
  --agnosticui-error-color: #e42002;
  --agnosticui-gray-extra-light: #f8f8f8;
  --agnosticui-gray-light: #e9e9e9;
  --agnosticui-gray-mid: #d8d8d8;
  --agnosticui-gray-mid-dark: #cccccc;
  /* gray dark seems to meet a11y contrast requirements for help text on inputs */
  --agnosticui-gray-dark: #757575;
  --agnosticui-dark: #333333;
  --agnosticui-light: #ffffff;
  /* Caption, Sub-heading, etc., can be added here */
}

/**
 * Space tokens
 *
 * These spacing tokens are, essentially, literals for use on a
 * slightly modified 8pt grid, but also converge conveniently with
 * some common type scale boundaries:
 * 10, 12, 14, 18, 24, 36, 48, 64, 72
 * Note, that we do not prefix these with `agnostic-default-` as
 * they're not meant to be overriden and mainly used:
 * 1. internally within AgnosticUI
 * 2. optionally by your app if you like these and want to
 * import them for example.
 * Feel free to use your spacing scale if you so desire.
 */
:root {
  --Space-80: 80px;
  --Space-72: 72px;
  --Space-64: 64px;
  --Space-56: 56px;
  --Space-48: 48px;
  --Space-40: 40px;
  --Space-32: 32px;
  --Space-24: 24px;
  --Space-16: 16px;
  --Space-14: 14px;
  --Space-12: 12px;
  --Space-10: 10px;
  --Space-8: 8px;
  --Space-6: 6px;
  --Space-4: 4px;

  --agnosticui-vertical-pad: var(--Space-8);
  /* Note this is really for form controls like inputs and buttons */
  --agnosticui-line-height: 20px;
  --agnosticui-side-padding: calc(1.5 * var(--Space-8));
}

/**
 * Font size tokens
 * These are perhaps a bit arbitrary but were chosen from both the
 * default point sizes for type in OS X, and the classic typographic
 * scale as provided by The Elements of Typographic Style which are:
 * 9, 10, 11, 12, 13, 14, 18, 24, 36, 48, (alt. 60) 64, 72, 96, 144, 288
 * 
 * You're encouraged to change these setttings to whatever suits your app's needs
 * best—these are just sensible defaults to get you started.
 */

:root {
  --agnosticui-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Ubuntu", "Fira Sans", Helvetica, "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --agnosticui-font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --agnosticui-font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --agnosticui-h1: 64px;
  --agnosticui-h2: 48px;
  --agnosticui-h3: 36px;
  --agnosticui-h4: 24px;
  --agnosticui-h5: 18px;
  --agnosticui-h6: 12px;
  --agnosticui-body: 16px;
  --agnosticui-font-weight-bold: 600;
  --agnosticui-font-weight-light: 300;
  --agnosticui-font-color: #333333;
}

:root {
  --agnosticui-timing-fast: 200ms;
  --agnosticui-timing-medium: 300ms;
  --agnosticui-timing-slow: 450ms;
}